<ion-view hide-back-button="false" cache-view="false" hide-nav-bar="false" ng-controller="WflDetailController">
	<ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false">
    	<!--div class="detail-approve-btns">
			<div class="buttons hecui-line-buttons fill-parent">
				<div ng-click="goDocInfoView();" ng-disabled="$parent.config.diableBtnDocInfo" class="button hecui-button button-block button-calm">单据明细</div>
				<div ng-click="goDocFlowView()" ng-disabled="$parent.config.diableBtnDocFlow" class="button hecui-button button-block button-assertive">流程预览</div>
			</div>
		</div-->
		<ion-nav-view name="detailContent"></ion-nav-view>
	</ion-content>
	
</ion-view>