<ion-view view-title="{{$parent.config.viewTitle}}" cache-view="true">
    <ion-content id="doc-flow-content" scrollbar-y="false" class="doc-infos-content" scroll="false"
                 ng-controller="WflDocFlowController">
        <style>
            .detail-approve-btns-reload .hecui-line-buttons .hecui-button {
                height: 2.7em;
                vertical-align: middle;
                display: table-cell;
                border-radius: 0px;
            }
            .detail-approve-btns-reload .selected {
                border: none;
                border-bottom: 2px #e6b400 solid;
                color: #e6b400;
            }
            .doc-flow-wrapper-reload {
                margin: 1rem 0 2rem;
                background: white;;
            }

            .doc-flow-wrapper-reload .doc-flow-start, .doc-flow-end {
                width: 4.5rem;
                height: 2.2rem;
                text-align: center;
                border: 1px solid #207FFA;
                background-color: #207FFA;
                color: white;
                border-radius: 20px;
                margin: auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -moz-align-items: center;
                align-items: center; }

            .doc-flow-arrow {
                width: 100%;
                text-align: center;
                font-size: 2rem;
                line-height: 1;
                padding-top: .6rem;
                padding-bottom: .6rem;}

            .doc-flow-nodes-reload .doc-flow-node-reload .doc-flow-title{
                /*padding:0rem 1rem;*/
                height: 3rem;
                line-height: 3rem;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
                background: #e8e8e8;border: 1px #e8e8e8 solid;
            }

            .doc-flow-nodes-reload .doc-flow-node-reload .doc-flow-title .node-status{
                width:25%;
                float: left;
                color: #007aff;
                padding-left: .6rem;
            }
            .doc-flow-nodes-reload .doc-flow-node-reload .doc-flow-title .node-name{
                width:50%;
                float: left;
                text-align: center;
                font-size: 1.3rem;
            }
            .doc-flow-nodes-reload .doc-flow-node-reload .doc-flow-title .node-approve-type{
                width:25%;
                float: left;
                text-align: right;
                padding-right: .6rem;
            }

            .doc-flow-nodes-reload .doc-flow-node-approves .doc-flow-node-approve{
                /*:0rem 1rem;
                height: 4rem;*/
                height: 3rem;
                background: white;
                border: 1px #e8e8e8 solid;
                border-top: 0px #e8e8e8 solid;
            }
            .doc-flow-nodes-reload .doc-flow-node-approves .doc-flow-node-approve.first-flow-node-approve{
                border-top: 1px #e8e8e8 solid;
            }

            .doc-flow-nodes-reload .left-info{
                /*width:85%;*/
                float: left;
                /*height: 4rem;*/
                height: 3rem;
                line-height: 2rem;
            }

            .doc-flow-nodes-reload .left-info .line1{
                /*font-size: 1rem*/
                padding-left: .6rem;
                line-height: 2rem;
                height: 2rem;
            }

            .doc-flow-nodes-reload .left-info .line2{
                font-size: 1rem;
                font-size: 0.8rem;color: #999999;
                padding-left: .6rem;
            }
            .doc-flow-nodes-reload .right-button{
                width: 1.5rem;
                float: right;
                height: 3.75rem;
                line-height: 3.75rem;
                text-align: left;
                font-size: 1rem;
            }
            .doc-flow-wrapper-reload .doc-flow-start, .doc-flow-end {
                width: 4.5rem;
                height: 2.2rem;
                text-align: center;
                border: 1px solid #ffc107;
                background-color: #ffc107;
                color: white;
                border-radius: 20px;
                margin: auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                -moz-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -moz-align-items: center;
                align-items: center;
            }
            .doc-flow-nodes-reload .doc-flow-node-reload .doc-flow-title .node-status {
                width: 25%;
                float: left;
                color: #d67d80;
                padding-left: .6rem;
            }
            .ion-chevron-right:before {
                content: "\f125";
                color: #E0878B;
            }
            .ion-ios-arrow-thin-down:before {
                content: "\f3d4";
                color: #ffecb8;
            }
            .doc-flow-nodes-reload .doc-flow-node-reload .doc-flow-title .node-approve-type {
                width: 25%;
                float: left;
                text-align: right;
                padding-right: .6rem;

            }
            .flow-node-waiting {
                background-color: white;
            }
            .ion-chevron-right:before {
                content: "\f125";
                color: #E0878B;
            }
        </style>
        <style>
        </style>
        <div class="detail-approve-btns-reload">
            <div class="buttons hecui-line-buttons fill-parent">
                <div ng-click="goDocInfoView();" ng-disabled="false"
                     class="button hecui-button button-block button-light" style="border-right:0px;">单据明细
                </div>
                <div  class="button hecui-button button-block button-light selected" style="border-left:0px;">流程预览
                </div>
            </div>
        </div>

        <ion-scroll id="doc-flow-scroll" has-bouncing="false" scrollbar-y="false">
            <div class="doc-flow-wrapper-reload padding fill-parent">

                <div class="doc-flow-start">
                    开始
                </div>

                <div class="doc-flow-arrow ion-ios-arrow-thin-down"></div>

                <div class="doc-flow-nodes-reload">
                    <div ng-repeat="node in datas.approveFlows">
                        <div class="doc-flow-node-reload"
                             ng-class="{'flow-node-current':(node.isCurrent),'flow-node-waiting':(node.isWaiting)}">
                            <div class="doc-flow-title" style="height:2rem;line-height:2rem;">
                                <div class="node-status">
                                    {{node.node_status_desc}}
                                </div>
                                <div class="node-name" style="font-size:1.1rem;">
                                    {{node.node_name}}
                                </div>
                                <div class="node-approve-type">
                                    {{node.node_approve_type}}
                                </div>
                            </div>
                            <style>
                                .doc-flow-node-approves .doc-flow-node-approve:last-child{
                                    border-bottom-right-radius: 8px;
                                    border-bottom-left-radius: 8px;
                                }
                            </style>
                            <div class="doc-flow-node-approves fill-width">
                                <div class="doc-flow-node-approve fill-width" ng-repeat="item in node.nodeApprovers"
                                     ng-click="goUserDetailPage(item.approve_user_id, item.approve_emp_id);" style="height:4rem;" ng-class="{'first-flow-node-approve':($index==0)}">
                                    <div class="left-info fill-height" style="height:1.5rem;line-height:1.5rem;flex: 1;padding-right: 5px;">
                                        <div class="ht-detail-desc" style="padding-top: 0px;">
                                            <div class="line1">{{item.approve_emp_name}} : <span>{{getDateDescStr(item.approve_date);}}</span>
                                                <span>{{item.approve_action}}</span>
                                            </div>
                                            <div class="line2">意见: {{item.approve_opinion}}</div>
                                        </div>
                                    </div>
                                    <div class="right-button fill-height">
                                        <i class="icon ion-chevron-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doc-flow-arrow ion-ios-arrow-thin-down"></div>
                    </div>
                    <div class="no-flow-nodes"
                         ng-if="!config.loaindFlowNode && (!datas.approveFlows || datas.approveFlows.length == 0)">
                        <div class="text-tip fill-width">无节点信息</div>
                        <div class="doc-flow-arrow ion-ios-arrow-thin-down"></div>
                    </div>
                    <div class="loading-flow-nodes" ng-if="config.loaindFlowNode">
                        <div class="loading-flow-nodes-inner">
                            <ion-spinner icon="ios-small" style="margin-right:1rem;"></ion-spinner>
                            <span>正在加载节点信息</span>
                        </div>
                        <div class="doc-flow-arrow ion-ios-arrow-thin-down"></div>
                    </div>
                </div>

                <div class="doc-flow-end">
                    结束
                </div>

            </div>
        </ion-scroll>

        <!--div id="hec-bottom-buttons-div" class="fill-width hec-bottom-content-div" ng-class="{'hec-hide':(config.isTodo!=true)}">
            <div class="hec-bottom-buttons-wrapper fill-parent">
                <div class="hec-bottom-buttons fill-parent">
                    <div class="hec-bottom-buttons-inner fill-parent">
                        <div class="select-operation nod" ng-click="goBatchApprove();">
                            <i class="icon operation-icon operation-icon-nod ion-checkmark-round"></i>
                        </div>
                        <div class="select-operation reject" ng-click="goBatchReject();">
                            <i class="icon operation-icon operation-icon-reject ion-close-round"></i>
                        </div>
                        <div class="select-operation transfer" ng-click="goBatchTransfer();">
                            <i class="icon operation-icon operation-icon-more ion-android-share"></i>
                        </div>
                        <div class="hec-more-buttons" ng-class="{'show-all':(config.showAllBottons),'hide-top-all':(!config.showAllBottons)}">
                                <div class="select-operation has-border-bottom addhandler" ng-click="goBatchAddHandler();">
                                    <i class="icon operation-icon operation-icon-add ion-android-add"></i>
                                </div>
                                <div class="select-operation has-border-bottom notify" ng-click="goBatchNotify();">
                                    <i class="icon operation-icon operation-icon-notify ion-android-add"></i>
                                </div>
                                <div class="select-operation notify" ng-click="config.showAllBottons=!config.showAllBottons">
                                    <i class="icon operation-icon operation-icon-more ion-android-more-horizontal"></i>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div-->

    </ion-content>

</ion-view>