<style>
    .col {
        padding: 0;
    }
</style>
<ion-view view-title="{{$parent.config.viewTitle}}" ng-controller="WflDocAttachmentController" cache-view="true">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in datas.attachments" ng-click="atmDownload(item)"
                      style="padding: 0.25rem 0.75rem">
                <div class="row">
                    <div class="col col-75">
                        <div style="height: 1.75rem;line-height: 1.75rem;font-size: 1.25rem;">
                            {{item.file_name}}
                        </div>
                        <div style="height: 1.25rem;line-height: 1.25rem;font-size: 0.75rem;">
                            {{item.creation_date}}
                        </div>
                    </div>
                    <div class="col col-25" style="height: 3rem;">
                        <img src="images/weixin/attachment-download.png"
                             style="width: 1.25rem;height: 1.25rem;margin-top: 0.875rem;">
                        <span style="position: relative;top: -2px;">{{item.file_size}}</span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>