<ion-view view-title="{{$parent.config.viewTitle}}" ng-controller="DocInfoController" cache-view="true" class="apl">
    <ion-content id="doc-infos-content" class="doc-infos-content" scrollbar-y="false" scroll="false"
                 ng-click="hidePartOfAllButtons($event);">

        <div class="detail-approve-btns">
            <div class="buttons hecui-line-buttons fill-parent">
                <div ng-click="goDocInfoView();" ng-disabled="false"
                     class="button hecui-button button-block leftButton">单据明细
                </div>
                <div ng-click="goDocFlowView()" ng-disabled="false"
                     class="button hecui-button button-block rightButton">流程预览
                </div>
            </div>
        </div>
        <style>
            .apl .leftButton {
                background-color: white !important;
                color: #EEBA1B;
                border-bottom: 3px solid #FEC006;
                border-right: 0;
                padding: 10px;
            }

            .apl .rightButton {
                border-left: 0;
                background-color: white;
                border-bottom: 2px solid #C7C0C0;
            }

            #doc-created-by-info .user-info-right .info-line {
                height: 1.6em;
            }

            #doc-lines-info .hecui-table {
                display: table;
                border: 1px solid #9C9A9A;
            }

            #doc-lines-info .table-line-header {
                background-color: white;
            }

            #doc-approve-history .doc-approve-history-title,
            #doc-header-info .doc-header-info-title,
            #doc-lines-info .doc-lines-info-title {
                font-size: 1em;
                color: #00f;
                font-weight: 500;
                line-height: 2.4em;
            }

            .apl .doc-lines-info-title {
                letter-spacing: 0;
                word-spacing: 0.2rem;
            }
        </style>
        <ion-scroll id="doc-info-scroll" has-bouncing="false" scrollbar-y="false">
            <div id="document-detail-content" class="padding"
                 style="margin-top: .5em;padding: 1px 1.3em;">

                <div id="doc-header-info" class="fill-width">
                    <div class="doc-header-info-title" class="fill-width" style="color: #D5595D;">
                        报销单头信息
                    </div>
                    <div class="info-lines fill-width" style="margin-top: .3em;">
                        <div class="info-line">
                            <div class="left-name">标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.ins_doc_hd_title}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">
                                <span ng-if="isExpReport();" style="color: #000">报销单编号&nbsp;:&nbsp;</span>
                                <span ng-if="isExpRequisition();" style="color: #000">申请单编号&nbsp;:&nbsp;</span>
                                <span ng-if="isPayRequisition();" style="color: #000">借款单编号&nbsp;:&nbsp;</span>
                            </div>
                            <div class="right-value">
                                {{datas.header.exp_rep_num}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">
                                单据类型&nbsp;:&nbsp;
                            </div>
                            <div class="right-value">
                                {{datas.header.ins_doc_hd_type_name}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">报销日期&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.exp_rep_date}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.exp_rep_com_name}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">制&nbsp;&nbsp;单&nbsp;&nbsp;人&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.exp_rep_created_by_name}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">申&nbsp;&nbsp;请&nbsp;&nbsp;人&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.exp_rep_emp_name}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">岗&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.exp_rep_pos_name}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">币&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;种&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.exp_rep_currency_name}}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">总&nbsp;&nbsp;金&nbsp;&nbsp;额&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.exp_rep_total_amount | currency:'' }}
                            </div>
                        </div>
                        <div class="info-line">
                            <div class="left-name">描&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;述&nbsp;:&nbsp;</div>
                            <div class="right-value">
                                {{datas.header.exp_rep_desc}}
                            </div>
                        </div>
                    </div>
                </div>
                <i class="icon ion-more"></i>

                <!--div id="doc-lines-info" class="fill-width" ng-if="isExpReport();">
                    <div class="doc-lines-info-title fill-width">
                        报销费用明细
                    </div>
                    <div class="lines-info-block fill-width">
                        <div class="hecui-table-wrapper fill-width">
                            <div class="hecui-table fill-width">
                                <div class="hecui-table-line first-line table-line-header">
                                    <div class="hecui-table-cell first-col">责任中心</div>
                                    <div class="hecui-table-cell">报销类型</div>
                                    <div class="hecui-table-cell">申请项目</div>
                                    <div class="hecui-table-cell last-col">金额</div>
                                </div>
                                <div class="hecui-table-line" ng-class="{'last-line':(($index+1)==datas.lines.length)}" ng-repeat="item in datas.lines">
                                    <div class="hecui-table-cell first-col">{{item.exp_rep_line_resp_name}}</div>
                                    <div class="hecui-table-cell">{{item.exp_rep_line_exp_type_name}}</div>
                                    <div class="hecui-table-cell">{{item.exp_rep_line_exp_item_name}}</div>
                                    <div class="hecui-table-cell last-col">{{item.exp_rep_line_amount | currency}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div-->
                <style>
                    .doc-lines-info-title {
                        letter-spacing: 0.2rem;
                        word-spacing: 0.2rem;
                    }
                </style>

                <div id="doc-lines-info" class="fill-width" ng-if="isExpRequisition() || isExpReport()">

                    <div class="doc-lines-info-title fill-width" ng-if="isExpReport();" style="color: #D5595D;">


                        报销费用明细
                    </div>
                    <div class="doc-lines-info-title fill-width" ng-if="isExpRequisition();" style="color: #D5595D;">
                        申请费用明细
                    </div>
                    <div class="lines-info-block fill-width">
                        <div class="hecui-table-wrapper fill-width">
                            <div class="hecui-table fill-width">
                                <div class="hecui-table-line first-line table-line-header">
                                    <div class="hecui-table-cell first-col">责任中心</div>
                                    <div class="hecui-table-cell">报销类型</div>
                                    <div class="hecui-table-cell">申请项目</div>
                                    <div class="hecui-table-cell last-col">金额</div>
                                </div>
                                <div class="hecui-table-line" style="color: #949498;"
                                     ng-class="{'last-line':(($index+1)==datas.lines.length)}"
                                     ng-repeat="item in datas.lines">
                                    <div class="hecui-table-cell first-col">{{item.exp_rep_line_resp_name}}</div>
                                    <div class="hecui-table-cell">{{item.exp_rep_line_exp_type_name}}</div>
                                    <div class="hecui-table-cell">{{item.exp_rep_line_exp_item_name}}</div>
                                    <div class="hecui-table-cell last-col">{{item.exp_rep_line_amount | currency :''
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="doc-lines-info" class="fill-width" ng-if="isExpReport()">

                    <div class="doc-lines-info-title fill-width" ng-if="isExpReport();" style="color: #D5595D;">

                        计划付款行明细
                    </div>
                    <div class="lines-info-block fill-width">
                        <div class="hecui-table-wrapper fill-width">
                            <div class="hecui-table fill-width">
                                <div class="hecui-table-line first-line table-line-header">
                                    <div class="hecui-table-cell first-col">核销金额</div>
                                    <div class="hecui-table-cell">收款方</div>
                                    <div class="hecui-table-cell last-col">金额</div>
                                </div>
                                <div class="hecui-table-line" style="color: #949498;"
                                     ng-class="{'last-line':(($index+1)==datas.lines.length)}"
                                     ng-repeat="item in datas.pmtplan">
                                    <div class="hecui-table-cell first-col">{{item.exp_rep_write_off_amount | currency
                                        :''}}
                                    </div>
                                    <div class="hecui-table-cell">{{item.exp_rep_payee_partner_name}}</div>
                                    <div class="hecui-table-cell last-col">{{item.exp_rep_due_amount | currency :'' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="doc-lines-info" class="fill-width" ng-if="isPayRequisition();">
                    <div class="doc-lines-info-title fill-width" style="color: #1E5FCC;">
                        借款明细
                    </div>
                    <div class="lines-info-block fill-width">
                        <div class="hecui-table-wrapper fill-width">
                            <div class="hecui-table fill-width">
                                <div class="hecui-table-line first-line table-line-header">
                                    <div class="hecui-table-cell first-col">收款方</div>
                                    <div class="hecui-table-cell last-col">金额</div>
                                </div>
                                <div class="hecui-table-line" ng-class="{'last-line':(($index+1)==datas.lines.length)}"
                                     ng-repeat="item in datas.lines">
                                    <div class="hecui-table-cell first-col">{{item.exp_pay_req_partner_name}}</div>
                                    <div class="hecui-table-cell last-col">{{item.exp_pay_req_line_amount | currency:''
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="doc-approve-history" class="fill-width" style="margin-bottom: 0">
                    <div class="doc-approve-history-title fill-width" style="color: #D5595D;">附件</div>
                    <div class="approve-ht-blocks fill-width padding" style="padding: 0;background: white;">
                        <div class="approve-ht-block fill-width" ng-if="datas.header.attchment_flag>0"
                             ng-click="goAttachmentList()">
                            <div class="left-info fill-height">
                                <div class="left-info-inner fill-parent">
                                    <div class="ht-detail-desc" style="height: 100%;line-height: 1.5rem;">
                                        附件状态:&nbsp;有附件
                                    </div>
                                </div>
                            </div>
                            <div class="right-button fill-height">
                                <span style="font-size: 0.875rem;position: relative;top: -2px;color: #000;">查看</span>
                                <i class="icon ion-chevron-right" style="color: #A7A1A1;font-size: .8em;"></i>
                            </div>
                        </div>
                        <div class="approve-ht-block fill-width" ng-if="datas.header.attchment_flag==0">
                            <div class="left-info fill-height">
                                <div class="left-info-inner fill-parent">
                                    <div class="ht-detail-desc" style="height: 100%;line-height: 1.5rem;">
                                        附件状态:&nbsp;无附件
                                    </div>
                                </div>
                            </div>
                            <div class="right-button fill-height not">
                                <span style="font-size: 0.875rem;position: relative;top: -2px;color: #999;">查看</span>
                                <i class="icon ion-chevron-right" style="color: #999;font-size: .8em;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="doc-approve-history" class="fill-width">
                    <div class="doc-approve-history-title fill-width" style="color: #D5595D;">审批记录</div>
                    <div class="no-approve-ht"
                         ng-if="!datas.approveHt || !datas.approveHt.length || datas.approveHt.length == 0">
                        暂无审批记录
                    </div>
                    <div class="approve-ht-blocks fill-width padding" style="padding: 0;background: white;">
                        <div class="approve-ht-block fill-width" ng-repeat="item in datas.approveHt"
                             ng-click="goUserDetailPage(item.user_id, item.exp_emp_id);">
                            <div class="left-info fill-height">
                                <div class="left-info-inner fill-parent">
                                    <div class="ht-detail-desc">
                                        {{item.detailDesc}}
                                    </div>
                                    <div class="ht-comment">
                                        意见&nbsp;&nbsp;:&nbsp;&nbsp;{{item.comment}}
                                    </div>
                                </div>
                            </div>
                            <div class="right-button fill-height">
                                <i class="icon ion-chevron-right" style="color: #A7A1A1;font-size: .8em;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-scroll>
        <style>
            .handle-loading-tip {
                width: 100%;
                height: 100%;
                display: table;

            }

            .handle-loading-tip span {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }

            span {
                color: #808083;
                /*background-color: white;*/
            }

            .ion-chevron-right:before {
                content: "\f125";
                color: #E0878B;
            }

            .not .ion-chevron-right:before {
                content: "\f125";
                color: #999;
            }

            .br-top-1, .br-top-2 {
                position: relative !important;
                left: -6rem !important;
                width: 6rem !important;
                background-color: white;
                text-align: center;
            }
        </style>
        <!--  待办事项  -->
        <!-- 待办事项  ng-class="{'hec-hide':(config.isTodo==true)}"  -->
        <div id="hec-bottom-buttons-div" class="tabs tabs-icon-top tabs-positive" style="position: static"
             ng-if="config.isTodo==true">
            <!-- ng-click="goBatchReject();" -->
            <div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="showOpinionPopup('reject')">
                <i class="ion-close" style="display: block;font-size: 1.125rem;height: 1.25rem;color: #c4151c;"></i>
                <span style="color: #b4b4b5">拒绝</span>
            </div>

            <!-- ng-click="goBatchApprove();" -->
            <div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="showOpinionPopup('nod')">
                <i class="ion-checkmark" style="display: block;font-size: 1.125rem;height: 1.25rem;color: #c4151c;"></i>
                <span style="color: #b4b4b5">同意</span>
            </div>
            <div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="goBatchTransfer();">
                <i class="ion-android-share" style="display: block;font-size: 1.25rem;color: #c4151c;"></i>
                <span style="color: #b4b4b5">转交</span>
            </div>
            <div class="tab-item" style="margin-top: 8px;opacity: 1;">
                <i cound-switch
                   class="icon ion-android-more-horizontal"></i>
            </div>

            <div style="width:0px; max-width:0px;height:2rem;max-height:2rem;min-height:2rem;">
                <div cound-switch class="br-top-1 select-operation has-border-bottom addhandler"
                     ng-class="{'show-me':(config.showAllBottons),'hide-me':(!config.showAllBottons)}"
                     ng-click="goBatchAddHandler();">
                    <span>添加处理人</span>
                </div>
                <div cound-switch
                     ng-class="{'show-me':(config.showAllBottons),'hide-me':(!config.showAllBottons)}"
                     class="br-top-2 select-operation has-border-bottom notify"
                     ng-click="goBatchNotify();">
                    <span style="background-color: white">通知</span>
                </div>
            </div>
        </div>

        <!-- 已办事项  -->
        <div class="hec-bottom-content-div fill-width hec-bottom-for-done"
             ng-if="config.isDone==true">
            <!--&& (datas.header.ins_doc_status==1)-->
            <div class="hec-bottom-buttons-wrapper fill-parent">
                <div class="hec-bottom-buttons fill-parent">
                    <div class="hec-bottom-buttons-inner fill-parent">
                        <div class="select-operation notify" ng-click="goBatchNotify();"
                             style="background: #c4151c;border-right: none;">
                            <!--i class="icon operation-icon operation-icon-notify ion-ios-bell-outline"></i-->
                            <span style="color: #fff;">通知</span>
                        </div>
                        <div ng-if="rootConfig.can_back_to_pre_node_flag=='Y'" class="select-operation notify"
                             ng-click="cancleInstanceDone();"
                             style="background: #c4151c;border-right: none;">
                            <span style="color: #fff;">收回</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 我的申请 -->
        <div class="hec-bottom-content-div fill-width hec-bottom-for-apply"
             ng-if="config.isApply==true && datas.header.can_cancel=='1'">
            <div class="hec-bottom-buttons-wrapper fill-parent">
                <div class="hec-bottom-buttons fill-parent">
                    <div class="hec-bottom-buttons-inner fill-parent">
                        <div class="select-operation notify" style="background: #c4151c;border-right: none;"

                             ng-click="cancleInstance();">
                            <!--i class="icon operation-icon operation-icon-notify ion-ios-bell-outline"></i-->
                            <span style="color: #fff;">收回</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

    <!--ion-footer-bar id="doc-detail-approves-footer" ng-if="!config.approveDone">
    <div class="select-operations fill-width">
        <div class="select-operation nod" ng-click="detailNod();">
            <i class="icon operation-icon operation-icon-nod ion-checkmark-round"></i>
        </div>
        <div class="select-operation refuse" ng-click="detailRefuse();">
            <i class="icon operation-icon operation-icon-refuse ion-close-round"></i>
        </div>
        <div class="select-operation transfer" ng-click="detailTransfer();">
            <i class="icon operation-icon operation-icon-more ion-android-share"></i>
        </div>
        <div class="select-operation add" ng-click="detailAdd();">
            <i class="icon operation-icon operation-icon-add ion-android-add"></i>
        </div>
    </div>
</ion-footer-bar-->
    <style>
        .ion-checkmark:before {
            content: "\f122";
            color: #c4151c;
        }

        .ion-android-share:before {
            content: "\f2f8";
            color: #c4151c;
        }

        .ion-android-more-horizontal:before {
            content: "\f396";
            color: #c4151c;
        }

        div#hec-bottom-buttons-div {
            /*border: 1px solid white;*/
            background-color: white;
        }

        .ion-more:before {
            content: "\f20b";
            margin-left: 40%;
            margin-right: 40%;
            width: 20%;
        }


    </style>
</ion-view>