<cache:cache-provider xmlns:cache="aurora.application.features.cache" cacheName="sys_prompts" key="${@prompt_code}.${@language}" value="${@description}" refreshBM="sys.SYS1004.sys_prompts" cacheDesc="页面国际化">
	<eventHandlers>
		<cache:EntityReloadHandler entity="sys_prompts" topic="dml_event" reloadBM="sys.SYS1004.sys_prompts"/>
	</eventHandlers>
</cache:cache-provider>