<?xml version="1.0" encoding="UTF-8"?>
<weixin:QiyeWeixin-config xmlns:weixin="aurora.plugin.weixin" >
	<instances>	
			<weixin:QiyeWeixin-instance token="jklife01" corpId="wxc731d9e24b12fb8c" encodingAESKey="jklifejklifejklifejklifejklifejklifejklife0" appName="hec"/>	
	</instances>

	<tokenTasks>
			<weixin:QiyeToken-task  groupname="hecGroup"  corpId="wxc731d9e24b12fb8c" secrect="s6YiXdy4OlHOgsLyQ7f8kM-eaf3n7nBZ9xC7qUerpGYpuzjgVITly7igYzY5gJQi"/>
	</tokenTasks>	
</weixin:QiyeWeixin-config>