  <!--<div class="news-list height300">
    <div class="panel panel-info">
<div class="panel-heading"><span class="panel-heading-title">{{accordionPanel.elementTitle}}</span></div>
        <div class="panel-body height250">-->
            <div class="accordion panel-info accordion-buttom" height="10px" id="accordion2" ng-repeat="accordion in accordionPanel.newsList">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle accordion-toggle-bg" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{accordion.announcement_id}}">
                           <span style="font-size:18px;color:black;font-weight:bold;">{{accordion.doc_title}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:12px;color:black;">{{accordion.doc_subtitle}}</span>
							
                        </a>
                    </div>
                    <div id="collapse{{accordion.announcement_id}}" class="accordion-body collapse">
                        <div class="accordion-inner">
       <iframe border="0" frameborder="0" height="100%" scrolling="auto" ng-src="{{accordion.ng_url}}" sytle="border:none;padding:1px;margin-top:1%;margin-left:1%;" width="100%"/>                            
                        </div>
                    </div>
                </div>
            </div>
          <!--</div>
    </div>
</div>-->