<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="carouselItem in carouselPanel.carouselItems"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item"  ng-repeat="carouselItem in carouselPanel.carouselItems">
            <img src="../images/ptl/{{carouselItem.imageName}}" alt="" >
            <div class="carousel-caption">
                <p>{{carouselItem.author}}&nbsp;{{carouselItem.date}}</p>
                <h4>{{carouselItem.title}}</h4>
                <p>{{carouselItem.desc}}</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>