<div class="modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="closeCommentNews()">&times;</button>
        <h3>{{commentInfo.title}}</h3>
    </div>
    <div class="modal-body">
        <textarea ng-model="commentInfo.commentText" style="width:515px;height:230px;resize: none;"></textarea>
    </div>
    <div class="modal-footer">
        <div class="btn btn-primary" ng-click="publishComment()">发布</div>
        <div class="btn btn-primary" ng-click="closeCommentNews()">关闭</div>
    </div>
</div>