<div class="height300">
    <div class="panel panel-info">
        <div class="panel-heading">{{documentPanel.elementTitle}}</div>
        <div class="panel-body height250">
			<div ng-repeat="documentItem in documentPanel.documents">
				<div id="word_content" ng-if="documentItem.doc_category=='WORD'">
					<div word-news="" word-attachment-id="{{documentItem.word_attachment_id}}" />
				</div>
				<div id="rtf_content"  ng-if="documentItem.doc_category=='RTF'">{{documentItem.rtf_clob}}</div>
			</div>
        </div>
    </div>
</div>