    <div class="panel-info panel ">
		<div class="panel-heading collapsed" data-toggle="collapse" href="#collapse_done"><span class="panel-heading-title">{{donelistPanel.elementTitle}}</span><span class="{{donelistPanel.totalCount == 0 ? 'panel-heading-more' : 'panel-heading-count-red'}}">{{donelistPanel.totalCount}}条</span></div>
        <div class="panel-body height250 table-responsive collapse" style="height: 0px;" id="collapse_done">
            <div class="height200">
                <table class="table table-hover notify-list">
                    <tr >
                        <th ng-repeat="fieldItem in donelistPanel.fieldlist">{{fieldItem.field_desc}}</th>
                    </tr>
                    <tr ng-repeat="doneItem in donelistPanel.donelist">
      <td ng-repeat="fieldItem in donelistPanel.fieldlist">
        <div name="{{fieldItem.field_name}}"  ng-if="fieldItem.field_name!='order_no'" title="{{doneItem[fieldItem.field_name]}}">{{doneItem[fieldItem.field_name]}}</div>
        <div name="{{fieldItem.field_name}}" class="todo-list-doc-num" ng-if="fieldItem.field_name=='order_no'" title="{{doneItem[fieldItem.field_name]}}"></div>
                             <a ng-if="fieldItem.field_name=='order_no'" href="../modules/wfl/public/workflowapprove.screen?record_id={{doneItem.record_id}}&instance_id={{doneItem.instance_id}}"
           target="_blank">{{doneItem[fieldItem.field_name]}}</a></td>
      </td>	                      
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <li ng-class="{true:'',false:'disabled'}[donelistPanel.preEnable]"><a
                            href="#{{donelistPanel.elementCode}}"
                            ng-click="queryDonelist(donelistPanel.preIndex)"><<</a></li>
                    <li><a href="#{{donelistPanel.elementCode}}" ng-click="queryDonelist(donelistPanel.minIndex)">首页</a>
                    </li>
                    <li ng-repeat="index in donelistPanel.indexList"
                        ng-class="{true:'active',false:''}[index == donelistPanel.currentIndex]"><a style="width:15px;text-align:center;"
                            href="#{{donelistPanel.elementCode}}"
                            ng-click="queryDonelist(index)">{{index}}</a>
                    </li>
                    <li><a href="#{{donelistPanel.elementCode}}" ng-click="queryDonelist(donelistPanel.maxIndex)">末页</a>
                    </li>
                    <li ng-class="{true:'',false:'disabled'}[donelistPanel.nextEnable]"><a
                            href="#{{donelistPanel.elementCode}}"
                            ng-click="queryDonelist(donelistPanel.nextIndex)">>></a></li>
                </ul>
            </div>
        </div>
</div>