<div class="sidebar-level1" ng-repeat="menu_level1 in menuList" ng-switch="menu_level1.function_type" level="1" index="{{$index}}">
    <a ng-switch-when="F" ng-href="../{{menu_level1.service_name}}">menu_level1.function_name</a>
    <div ng-switch-when="G"  ng-switch="menu_level2.function_type" class="sidebar-level2" ng-repeat="menu_level2 in menu_level1.menuList" level="2" index="{{$index}}">
        <a ng-switch-when="F" ng-href="../{{menu_level2.service_name}}">menu_level2.function_name</a>
        <div ng-switch-when="G" ng-repeat="" class="sidebar-level3">

        </div>
    </div>
</div>