<div class="image-link">
    <a ng-href="{{getLinkUrl()}}" target="{{imageLink.link_type == 'OPEN' ? '_blank' : ''}}" class="image-link-a" style="width:{{imageLink.image_width}}px;height:{{imageLink.image_height}}px;">
        <img class="image-link-image" ng-src="../ptl_image?attach_id={{imageLink.attachment_id}}"
                 alt="{{imageLink.image_title}}"
                 title="{{imageLink.image_title}}"
                 style="width:{{imageLink.image_width}}px;height:{{imageLink.image_height}}px;overflow:hidden"/>
</a>
<div class="image-link-title">
    {{imageLink.image_title}}
</div>
</div>