<div class="height300">
    <div class="panel panel-info">
        <div class="panel-heading">{{linkPanel.elementTitle}}</div>
        <div class="panel-body height250">
            <ul class="link-list">
                <li ng-repeat="link in linkPanel.links">     					               
					<a href="{{link.link_url}}" target="_blank" title="{{link.link_desc}}">
						<img class="shortcut-icon" ng-src="../ptl_image?attach_id={{link.link_image_att_id}}"/>                
						<div class="shortcut-title">{{link.link_title}}</div>
					</a>
                </li>
            </ul>
        </div>
    </div>
</div>