<div class="menu-level1" style="height:{{menuPanel.menu_level1_length * 30}}px">
    <div class="menu-item" ng-repeat="menu_level1 in menuPanel.main_menu"
         level="1"
         index="{{$index}}" >
        <span class="menu-text">{{menu_level1.function_description}}</span>

        <div ng-if="menu_level1.function_type == 'G'" class="menu-level2"
             style="height:{{menu_level1.menu_level2_length * 30}}px">
            <div class="menu-item"
                 ng-repeat="menu_level2 in menu_level1.modules" level="2" index="{{$index}}" >
                <span  class="menu-text">{{menu_level2.function_description}}</span>

                <div class="menu-level3"
                     style="height:{{menu_level2.menu_level3_length * 30}}px">
                    <div class="menu-item" ng-repeat="menu_level3 in menu_level2.functions" class="sidebar-level3"  ng-click="jumpFun(menu_level3.service_name)">
                        <span  class="menu-text" style="cursor:pointer">{{menu_level3.function_description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
