<div class="height300">
    <div class="panel panel-info ">
        <div class="panel-heading"><span class="panel-heading-title">{{rollingPanel.elementTitle}}</span><span class="panel-heading-more"><a href="system001_news_more.screen?announcement_type_id={{rollingPanel.announcementTypeId}}"  target="_blank">更多</a></span></div>
        <div class="panel-body height250 middle-rolling">
            <div id="{{rollingPanel.elementCode}}" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#{{rollingPanel.elementCode}}" data-slide-to="{{$index}}"
                        ng-repeat="rollingItem in rollingPanel.rollingItems"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item" ng-repeat="rollingItem in rollingPanel.rollingItems">
                        <a  class="middle-rolling-carousel" target="_blank" href="system001_news.screen?news_id={{rollingItem.announcement_id}}">
                            <img ng-src="../ptl_image?attach_id={{rollingItem.cover_middle_image_att_id}}" alt="{{rollingItem.doc_summarize}}" title="{{rollingItem.doc_summarize}}" style="max-width:{{rollingPanel.imgWidth}}px;max-height:250px;overflow:hidden">
                            <div class="carousel-caption">
                                <p>{{rollingItem.author_name}}&nbsp;{{rollingItem.announce_date}}</p>
                                <h4>{{rollingItem.doc_title}}</h4>
                                <p>{{rollingItem.doc_summarize}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" ng-href="#{{rollingPanel.elementCode}}" data-slide="prev">‹</a>
                <a class="right carousel-control" ng-href="#{{rollingPanel.elementCode}}" data-slide="next">›</a>
            </div>
        </div>
    </div>
</div>