<div class="modal" style="width:940px;margin-left:-470px;height:600px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="closeMoreInfo()">&times;</button>
        <h3>{{moreInfo.title}}</h3>
    </div>
    <div class="modal-body" style="max-height:9999px;height:461px;">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a data-toggle="tab" href="#mainInfo">主要内容</a></li>
            <li><a data-toggle="tab" href="#privilege">权限信息</a></li>
            <li><a data-toggle="tab" href="#attachment">相关文档</a></li>
            <li><a data-toggle="tab" href="#workflow">流程</a></li>
            <li><a data-toggle="tab" href="#comment">评论</a></li>
            <li><a data-toggle="tab" href="#readInfo">阅读信息</a></li>
        </ul>
        <div class="tab-content more-info-content">
            <div class="tab-pane active" id="mainInfo">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            主题
                        </td>
                        <td colspan="3">
                            {{mainInfo.doc_title}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%">
                            公司
                        </td>
                        <td style="width:35%">
                            {{mainInfo.announce_company_name}}
                        </td>
                        <td style="width:15%" rowspan="2">
                            图片
                        </td>
                        <td style="width:35%" rowspan="2">
                            <p ng-repeat="image in mainInfo.imageList">
                                <a href="../ptl_image?attach_id={{image.attach_id}}" target="_blank">[{{image.image_category_desc}}]{{image.image_title}}</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            文档重要程度
                        </td>
                        <td>
                            {{mainInfo.importance_level_desc}}
                        </td>
                    </tr>
                    <tr>
                        <td>标签</td>
                        <td colspan="3">{{mainInfo.tags}}</td>
                    </tr>
                    <tr>
                        <td>公告来源</td>
                        <td colspan="3"><a href="{{mainInfo.ref_url}}">{{mainInfo.ref_url}}</a></td>
                    </tr>
                    <tr>
                        <td>
                            文档分类
                        </td>
                        <td>
                            {{mainInfo.announcement_path}}
                        </td>
                        <td>
                            发布日期
                        </td>
                        <td>
                            {{mainInfo.announce_date}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            创建者
                        </td>
                        <td>
                            {{mainInfo.announce_employee_name}}
                        <td>
                            所属部门
                        </td>
                        <td>
                            {{mainInfo.unit_name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            作者
                        </td>
                        <td>
                            {{mainInfo.author_name}}
                        </td>
                        <td>
                            创建时间
                        </td>
                        <td>
                            {{mainInfo.creation_date}}
                        </td>
                    </tr>
                    <tr style="height:80px;">
                        <td>
                            内容摘要
                        </td>
                        <td colspan="3">
                            {{mainInfo.doc_summarize}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="privilege">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10%;">
                            是否需要登录
                        </th>
                        <th style="width: 10%;">
                            是否系统级
                        </th>
						<th style="width: 10%;">
                            权限类型
                        </th>
                        <th style="width: 70%;">
                            权限显示
                        </th>                        
                    </tr>
                    <tr ng-repeat="item in privilege">
                        <td>
                            {{item.need_login_desc}}
                        </td>
                        <td>
                            {{item.system_flag_desc}}
                        </td>
                        <td>
                            {{item.privilege_type_desc}}
                        </td>
                        <td>
                            {{item.privilege_desc}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="attachment">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 40%;">
                            附件名称
                        </th>
                        <th style="width: 10%;">
                            附件大小
                        </th>
                        <th style="width: 25%;">
                            上传员工
                        </th>
                        <th style="width: 25%;">
                            上传时间
                        </th>
                    </tr>
                    <tr ng-repeat="item in attachment">
                        <td>
                            <a href="../atm_download.svc?attachment_id={{item.attachment_id}}">{{item.file_name}}</a>
                        </td>
                        <td>
                            {{item.file_size}}
                        </td>
                        <td>
                            {{item.employee_name}}
                        </td>
                        <td>
                            {{item.creation_date}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="workflow">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10%;">
                            审批人
                        </th>
                        <th style="width: 20%;">
                            审批节点
                        </th>
                        <th style="width: 10%;">
                            审批动作
                        </th>
                        <th style="width: 40%;">
                            审批意见
                        </th>
                        <th style="width: 20%;">
                            审批时间
                        </th>
                    </tr>
                    <tr ng-repeat="item in workflow">
                        <td>
                            {{item.employee_name}}
                        </td>
                        <td>
                            {{item.node_name}}
                        </td>
                        <td>
                            {{item.action_title}}
                        </td>
                        <td>
                            {{item.comment_text}}
                        </td>
                        <td>
                            {{item.approve_date}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="comment">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:20%">
                            评论人/评论时间
                        </th>
                        <th style="width:80%">
                            评论内容
                        </th>
                    </tr>
                    <tr ng-repeat="item in comment">
                        <th style="width:20%">
                            <p>
                                {{item.employee_name}}
                            </p>

                            <p>
                                {{item.creation_date}}
                            </p>
                        </th>
                        <td style="width:80%">
                            {{item.comment_text}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="readInfo">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            阅读者
                        </th>
                    </tr>
                    <tr ng-repeat="item in readInfo">
                        <td style="width:90%">
                            <span class="padding-left:5px;padding-right:5px;">{{item.employee_name}}[{{item.creation_date}}]</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn btn-primary" ng-click="closeMoreInfo()">关闭</div>
    </div>
</div>