<div style="height:{{newsMarkListPanelHeight}}px">
    <table class="news-more-list table table-hover">
        <tr>
            <th class="news-more-list-important-level">
                重要性
            </th>
            <th class="news-more-list-title">
                标题
            </th>
            <th class="news-more-list-author">
                作者
            </th>
            <th class="news-more-list-date">
                日期
            </th>
        </tr>
        <tr ng-repeat="news in newsMarkListPanel.newsList">
            <td class="news-more-list-important-level">
                <span class="label"
                      ng-class="{'TOP':'label-important','ESSENCE':'label-warning'}[news.importance_level]">{{news.importance_level == 'TOP' ? '置顶' : (news.importance_level == 'ESSENCE' ? '精华' : '')}}</span>
            </td>
            <td class="news-more-list-title">
                <a href="system001_news.screen?news_id={{news.announcement_id}}" target="_blank">
                    {{news.doc_title}}
                </a>
            </td>
            <td class="news-more-list-author">
                {{news.author_name}}
            </td>
            <td class="news-more-list-date">
                {{news.announce_date}}
            </td>
        </tr>
    </table>
</div>
<div class="pagination">
    <ul>
        <li ng-class="{true:'',false:'disabled'}[newsMarkListPanel.preEnable]"><a
                href="#{{newsMarkListPanel.elementCode}}"
                ng-click="queryMarkList(newsMarkListPanel.preIndex)"><<</a></li>
        <li><a href="#{{newsMarkListPanel.elementCode}}" ng-click="queryMarkList(newsMarkListPanel.minIndex)">首页</a>
        </li>
        <li ng-repeat="index in newsMarkListPanel.indexList"
            ng-class="{true:'active',false:''}[index == newsMarkListPanel.currentIndex]"><a
                style="width:15px;text-align:center;"
                href="#{{newsMarkListPanel.elementCode}}"
                ng-click="queryMarkList(index)">{{index}}</a>
        </li>
        <li><a href="#{{newsMarkListPanel.elementCode}}" ng-click="queryMarkList(newsMarkListPanel.maxIndex)">末页</a>
        </li>
        <li ng-class="{true:'',false:'disabled'}[newsMarkListPanel.nextEnable]"><a
                href="#{{newsMarkListPanel.elementCode}}"
                ng-click="queryMarkList(newsMarkListPanel.nextIndex)">>></a></li>
    </ul>
</div>