<div class="news-list height300">
    <div class="panel panel-info">
        <div class="panel-heading"><span class="panel-heading-title">{{newsPanel.elementTitle}}</span><span class="panel-heading-more"><a href="system001_news_more.screen?announcement_type_id={{newsPanel.currentAnnouncementTypeId}}" target="_blank">更多</a></span>
        </div>
        <div class="panel-body height250">
            <ul id="newsTab" class="nav nav-tabs">
                <li ng-class="{true:'active',false:''}[$index == 0]" ng-repeat="newsCategory in newsPanel.newsCategories" ng-click="setCurrentAnnouncementType(newsCategory.announcementTypeId)">
                    <a data-toggle="tab" href="#{{newsCategory.elementCode}}">{{newsCategory.elementTitle}}</a>
                </li>
            </ul>
            <div id="newsTabContent" class="tab-content height215">
                <div id="{{newsCategory.elementCode}}" class="tab-pane fade" ng-class="{true:'in active',false:''}[$index == 0]" ng-repeat="newsCategory in newsPanel.newsCategories">
                    <ul class="height210">
                        <li ng-repeat="news in newsCategory.newsList">
                            <div class="news-container" title="{{news.doc_title}}">
                                <a href="system001_news.screen?news_id={{news.announcement_id}}" target="_blank">
                                    <div class="news-title">
                                        {{news.doc_title}}
                                    </div>
                                    <div class="news-date">
                                        {{news.announce_date}}
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-transclude/>
</div>