<div class="news-attachment-panel">
    <a class="news-attachment" ng-repeat="attachment in newsAttachmentPanel.attachmentList"
       href="../atm_download.svc?attachment_id={{attachment.attachment_id}}">
        <span>
            文件名:{{attachment.file_name}}
        </span>
        <span>
            文件大小:{{attachment.file_size}}
        </span>
        <span>
            上传人:{{attachment.employee_name}}
        </span>
        <span>
            上传时间:{{attachment.creation_date}}
        </span>
    </a>
</div>