    <div class="panel panel-info">
		<div class="panel-heading collapsed" data-toggle="collapse" href="#collapse_noti"><span class="panel-heading-title">{{notifylistPanel.elementTitle}}</span><span class="{{notifylistPanel.totalCount == 0 ? 'panel-heading-more' : 'panel-heading-count-red'}}">{{notifylistPanel.totalCount}}条</span></div>
        <div class="panel-body height250 table-responsive collapse" style="height: 0px;" id="collapse_noti">
            <div class="height200">
                <table class="table table-hover notify-list">
                    <tr >
                        <th ng-repeat="fieldItem in notifylistPanel.fieldlist">{{fieldItem.field_desc}}</th>
                    </tr>
                    <tr ng-repeat="notifyItem in notifylistPanel.notifylist">
						<td ng-repeat="fieldItem in notifylistPanel.fieldlist">
								<div name="{{fieldItem.field_name}}"  ng-if="fieldItem.field_name!='document_number'" title="{{notifyItem[fieldItem.field_name]}}">{{notifyItem[fieldItem.field_name]}}</div>
								<div name="{{fieldItem.field_name}}" class="todo-list-doc-num" ng-if="fieldItem.field_name=='document_number'" title="{{notifyItem[fieldItem.field_name]}}"></div>
                            	<a ng-if="fieldItem.field_name=='document_number'" href="../modules/wfl/public/workflowapprove.screen?record_id={{notifyItem.record_id}}&instance_id={{notifyItem.instance_id}}"
								   target="_blank">{{notifyItem[fieldItem.field_name]}}</a></td>
						</td>           
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <li ng-class="{true:'',false:'disabled'}[notifylistPanel.preEnable]"><a
                            href="#{{notifylistPanel.elementCode}}"
                            ng-click="queryNotifylist(notifylistPanel.preIndex)"><<</a></li>
                    <li><a href="#{{notifylistPanel.elementCode}}" ng-click="queryNotifylist(notifylistPanel.minIndex)">首页</a>
                    </li>
                    <li ng-repeat="index in notifylistPanel.indexList"
                        ng-class="{true:'active',false:''}[index == notifylistPanel.currentIndex]"><a style="width:15px;text-align:center;"
                            href="#{{notifylistPanel.elementCode}}"
                            ng-click="queryNotifylist(index)">{{index}}</a>
                    </li>
                    <li><a href="#{{notifylistPanel.elementCode}}" ng-click="queryNotifylist(notifylistPanel.maxIndex)">末页</a>
                    </li>
                    <li ng-class="{true:'',false:'disabled'}[notifylistPanel.nextEnable]"><a
                            href="#{{notifylistPanel.elementCode}}"
                            ng-click="queryNotifylist(notifylistPanel.nextIndex)">>></a></li>
                </ul>
            </div>
        </div>
    </div>