<div class="height300">
    <div class="panel panel-info ">
        <div class="panel-heading"><span class="panel-heading-title">{{personNewsPanel.elementTitle}}</span><span class="panel-heading-more"><a href="system001_news_more.screen?announcement_type_id={{personNewsPanel.announcementTypeId}}"  target="_blank">更多</a></span></div>
        <div class="panel-body height250">
            <div class="person-content" ng-repeat="person in personNewsPanel.personList" style="width:{{personNewsPanel.personContentWidth}}px">
                <a target="_blank" href="system001_news.screen?news_id={{person.announcement_id}}" >
                    <img class="img-rounded person-image" ng-src="../ptl_image?attach_id={{person.cover_little_image_att_id}}"  style="width:{{personNewsPanel.personImageWidth}}px;height:90px;"/>
                    <h6 class="person-label">{{person.cover_image_title}}</h6>
                </a>
            </div>
        </div>
    </div>
</div>