<div class="shortcut-list height300">
    <div class="panel panel-info">
        <div class="panel-heading">{{shortcutPanel.elementTitle}}</div>
        <div class="panel-body height250">
            <div class="shortcut-container" ng-repeat="shortcut in shortcutPanel.shortcutList">
                <div class="shortcut-icon" ng-style="{'background-image':'url(../ptl_image?attach_id=' + shortcut.shortcut_image_att_id + ')'}"></div>
                <a href="../{{shortcut.link_url}}" target="_blank" title="{{shortcut.shortcut_desc}}">
                    <div class="shortcut-title">{{shortcut.shortcut_title}}</div>
                </a>
            </div>
        </div>
    </div>
</div>