<div class="news-list height300">
    <div class="panel panel-info">
        <div class="panel-heading"><span class="panel-heading-title">{{simpleNewsPanel.elementTitle}}</span><span class="panel-heading-more"><a href="system001_news_more.screen?announcement_type_id={{simpleNewsPanel.announcementTypeId}}"  target="_blank">更多</a></span></div>
        <div class="panel-body height250">
            <ul class="height225">
                <li ng-repeat="news in simpleNewsPanel.newsList">
                    <div class="news-container" title="{{news.doc_title}}">
                        <a href="system001_news.screen?news_id={{news.announcement_id}}" target="_blank">
                            <div class="news-title">
                                {{news.doc_title}}
                            </div>
                            <div class="news-date">
                                {{news.announce_date}}
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>