    <div class=" panel-info panel">
		<div class="panel-heading collapsed" id="accordion2" data-toggle="collapse" href="#collapse_todo"><span class="panel-heading-title">{{todolistPanel.elementTitle}}</span><span class="{{todolistPanel.totalCount == 0 ? 'panel-heading-more' : 'panel-heading-count-red'}}">{{todolistPanel.totalCount}}条</span></div>
        <div class="panel-body height250 table-responsive collapse" style="height: 0px;" id="collapse_todo" data-parent="#accordion2">
            <div class="height200">
                <table class="table table-hover todo-list">
                    <tr >
                        <th ng-repeat="fieldItem in todolistPanel.fieldlist">{{fieldItem.field_desc}}</th>
						<!--<th>无意见审批</th>-->
                    </tr>
                    <tr ng-repeat="todoItem in todolistPanel.todolist">
						<td ng-repeat="fieldItem in todolistPanel.fieldlist">
								<div name="{{fieldItem.field_name}}" width="{{fieldItem.field_width}}px" ng-if="fieldItem.field_name!='document_number'" title="{{todoItem[fieldItem.field_name]}}">{{todoItem[fieldItem.field_name]}}</div>
								<div name="{{fieldItem.field_name}}" class="todo-list-doc-num" ng-if="fieldItem.field_name=='document_number'" title="{{todoItem[fieldItem.field_name]}}"></div>
                            	<a ng-if="fieldItem.field_name=='document_number'" href="../modules/wfl/public/workflowapprove.screen?record_id={{todoItem.record_id}}&instance_id={{todoItem.instance_id}}&ptl_flag=Y"
								   target="_blank">{{todoItem[fieldItem.field_name]}}</a></td>
						</td>                        
                        <td>
                            <!--<div class="todo-list-confirm">
                                <button class="btn btn-small btn-default"
                                        ng-click="approveWithoutOpinion(todoItem.record_id)">无意见通过
                                </button>
                            </div>-->
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <li ng-class="{true:'',false:'disabled'}[todolistPanel.preEnable]"><a
                            href="#{{todolistPanel.elementCode}}"
                            ng-click="queryTodoList(todolistPanel.preIndex)"><<</a></li>
                    <li><a href="#{{todolistPanel.elementCode}}" ng-click="queryTodoList(todolistPanel.minIndex)">首页</a>
                    </li>
                    <li ng-repeat="index in todolistPanel.indexList"
                        ng-class="{true:'active',false:''}[index == todolistPanel.currentIndex]"><a style="width:15px;text-align:center;"
                            href="#{{todolistPanel.elementCode}}"
                            ng-click="queryTodoList(index)">{{index}}</a>
                    </li>
                    <li><a href="#{{todolistPanel.elementCode}}" ng-click="queryTodoList(todolistPanel.maxIndex)">末页</a>
                    </li>
                    <li ng-class="{true:'',false:'disabled'}[todolistPanel.nextEnable]"><a
                            href="#{{todolistPanel.elementCode}}"
                            ng-click="queryTodoList(todolistPanel.nextIndex)">>></a></li>
                </ul>
            </div>
        </div>
    </div>