<div class="news-list height300">
    <div class="panel panel-info">
        <div class="panel-heading"><span class="panel-heading-title">{{wflPanel.elementTitle}}</span></div>
        <div class="panel-body height250">
            <ul id="wflTab" class="nav nav-tabs">
                <li ng-class="{true:'active',false:''}[$index == 0]" ng-repeat="wflCategory in wflPanel.wflCategories">
                    <a data-toggle="tab" style="white-space:nowrap;" href="#{{wflCategory.element_code}}">{{wflCategory.element_title}}<span class="{{wflCategory.totalCount == 0 ? 'panel-heading-count' : 'panel-heading-count-red'}}">{{wflCategory.totalCount}}条</span></a>
                </li>
            </ul>
            <div id="wflTabContent" class="tab-content height250">
                <!--<div class="tab-pane fade" ng-class="{true:'in active',false:''}[$index == 0]" ng-repeat="wflCategory in wflPanel.wflCategories">-->
				<div id="{{wflCategory.element_code}}" class="tab-pane fade" ng-class="{true:'in active',false:''}[$index == 0]" ng-repeat="wflCategory in wflPanel.wflCategories">
						 <div class="height200" ng-if="wflCategory.element_category=='TODO_LIST'">
							<table class="table table-hover todo-list">
								<tr >
									<th ng-repeat="fieldItem in wflPanel.fieldlistTodo">{{fieldItem.field_desc}}</th>
									<!--<th>无意见审批</th>-->
								</tr>
								<tr ng-repeat="todoItem in wflPanel.todolist">
									<td ng-repeat="fieldItem in wflPanel.fieldlistTodo">
											<div name="{{fieldItem.field_name}}" width="{{fieldItem.field_width}}px" ng-if="fieldItem.field_name!='document_number'" title="{{todoItem[fieldItem.field_name]}}">{{todoItem[fieldItem.field_name]}}</div>
											<div name="{{fieldItem.field_name}}" class="todo-list-doc-num" ng-if="fieldItem.field_name=='document_number'" title="{{todoItem[fieldItem.field_name]}}"></div>
											<a ng-if="fieldItem.field_name=='document_number'" href="../modules/wfl/public/workflowapprove.screen?record_id={{todoItem.record_id}}&instance_id={{todoItem.instance_id}}&ptl_flag=Y"
											   target="_blank">{{todoItem[fieldItem.field_name]}}</a></td>
									</td>                        
									<td>
										<!--<div class="todo-list-confirm">
											<button class="btn btn-small btn-default"
													ng-click="approveWithoutOpinion(todoItem.record_id)">无意见通过
											</button>
										</div>-->
									</td>
								</tr>
							</table>
						</div>
						<div class="pagination" ng-if="wflCategory.element_category=='TODO_LIST'">
							<ul>
								<li ng-class="{true:'',false:'disabled'}[wflPanel.preEnableTodo]"><a
										href="#{{wflCategory.element_code}}"
										ng-click="queryTodoList(wflPanel.preIndexTodo)"><<</a></li>
								<li><a href="#{{wflCategory.element_code}}" ng-click="queryTodoList(wflPanel.minIndexTodo)">首页</a>
								</li>
								<li ng-repeat="index in wflPanel.indexListTodo"
									ng-class="{true:'active',false:''}[index == wflPanel.currentIndexTodo]"><a style="width:15px;text-align:center;"
										href="#{{wflCategory.element_code}}"
										ng-click="queryTodoList(index)">{{index}}</a>
								</li>
								<li><a href="#{{wflCategory.element_code}}" ng-click="queryTodoList(wflPanel.maxIndexTodo)">末页</a>
								</li>
								<li ng-class="{true:'',false:'disabled'}[wflPanel.nextEnableTodo]"><a
										href="#{{wflCategory.element_code}}"
										ng-click="queryTodoList(wflPanel.nextIndexTodo)">>></a></li>
							</ul>
						</div>
					
						<div class="height200"  ng-if="wflCategory.element_category=='NOTIFY_LIST'">
          			  <table class="table table-hover notify-list">
							<tr >
								<th ng-repeat="fieldItem in wflPanel.fieldlistNoti">{{fieldItem.field_desc}}</th>
							</tr>
							<tr ng-repeat="notifyItem in wflPanel.notifylist">
								<td ng-repeat="fieldItem in wflPanel.fieldlistNoti">
										<div name="{{fieldItem.field_name}}"  ng-if="fieldItem.field_name!='document_number'" title="{{notifyItem[fieldItem.field_name]}}">{{notifyItem[fieldItem.field_name]}}</div>
										<div name="{{fieldItem.field_name}}" class="todo-list-doc-num" ng-if="fieldItem.field_name=='document_number'" title="{{notifyItem[fieldItem.field_name]}}"></div>
										<a ng-if="fieldItem.field_name=='document_number'" href="../modules/wfl/public/workflowapprove.screen?record_id={{notifyItem.record_id}}&instance_id={{notifyItem.instance_id}}"
										   target="_blank">{{notifyItem[fieldItem.field_name]}}</a></td>
								</td>           
							</tr>
						</table>
					</div>
					<div class="pagination" ng-if="wflCategory.element_category=='NOTIFY_LIST'">
						<ul>
							<li ng-class="{true:'',false:'disabled'}[wflPanel.preEnableNoti]"><a
									href="#{{wflCategory.element_code}}"
									ng-click="queryNotifyList(wflPanel.preIndexNoti)"><<</a></li>
							<li><a href="#{{wflCategory.element_code}}" ng-click="queryNotifyList(wflPanel.minIndexNoti)">首页</a>
							</li>
							<li ng-repeat="index in wflPanel.indexListNoti"
								ng-class="{true:'active',false:''}[index == wflPanel.currentIndexNoti]"><a style="width:15px;text-align:center;"
									href="#{{wflCategory.element_code}}"
									ng-click="queryNotifyList(index)">{{index}}</a>
							</li>
							<li><a href="#{{wflCategory.element_code}}" ng-click="queryNotifyList(wflPanel.maxIndexNoti)">末页</a>
							</li>
							<li ng-class="{true:'',false:'disabled'}[wflPanel.nextEnableNoti]"><a
									href="#{{wflCategory.element_code}}"
									ng-click="queryNotifyList(wflPanel.nextIndexNoti)">>></a></li>
						</ul>
					</div>
					
					<div class="height200"  ng-if="wflCategory.element_category=='DONE_LIST'">
     				   <table class="table table-hover notify-list">
							<tr >
								<th ng-repeat="fieldItem in wflPanel.fieldlistDone">{{fieldItem.field_desc}}</th>
							</tr>
							<tr ng-repeat="doneItem in wflPanel.donelist">
							  <td ng-repeat="fieldItem in wflPanel.fieldlistDone">
								<div name="{{fieldItem.field_name}}"  ng-if="fieldItem.field_name!='order_no'" title="{{doneItem[fieldItem.field_name]}}">{{doneItem[fieldItem.field_name]}}</div>
								<div name="{{fieldItem.field_name}}" class="todo-list-doc-num" ng-if="fieldItem.field_name=='order_no'" title="{{doneItem[fieldItem.field_name]}}"></div>
													 <a ng-if="fieldItem.field_name=='order_no'" href="../modules/wfl/public/workflowapprove.screen?record_id={{doneItem.record_id}}&instance_id={{doneItem.instance_id}}"
								   target="_blank">{{doneItem[fieldItem.field_name]}}</a></td>
							  </td>	                      
							</tr>
						</table>
					</div>
					<div class="pagination"  ng-if="wflCategory.element_category=='DONE_LIST'">
						<ul>
							<li ng-class="{true:'',false:'disabled'}[wflPanel.preEnableDone]"><a
									href="#{{wflCategory.element_code}}"
									ng-click="queryDoneList(wflPanel.preIndexDone)"><<</a></li>
							<li><a href="#{{wflCategory.element_code}}" ng-click="queryDoneList(wflPanel.minIndexDone)">首页</a>
							</li>
							<li ng-repeat="index in wflPanel.indexListDone"
								ng-class="{true:'active',false:''}[index == wflPanel.currentIndexDone]"><a style="width:15px;text-align:center;"
									href="#{{wflCategory.element_code}}"
									ng-click="queryDoneList(index)">{{index}}</a>
							</li>
							<li><a href="#{{wflCategory.element_code}}" ng-click="queryDoneList(wflPanel.maxIndexDone)">末页</a>
							</li>
							<li ng-class="{true:'',false:'disabled'}[wflPanel.nextEnableDone]"><a
									href="#{{wflCategory.element_code}}"
									ng-click="queryDoneList(wflPanel.nextIndexDone)">>></a></li>
						</ul>
					</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-transclude/>
</div>