<?xml version="1.0" ?>
<period-mode-cache-provider xmlns="aurora.application.features.cache" refreshInterval="3600000" value="${@description_text}" key="${@description_id}.${@language}" refreshBM="fnd.fnd_descriptions" cacheName="MultiLanguageCache" cacheDesc="数据多语言">
</period-mode-cache-provider>