<cache:cache-provider xmlns:cache="aurora.application.features.cache" value="${@code_value_name}" refreshBM="sys.sys_service_lookup_v" key="${@code}.${@code_value}.${@language}" cacheName="lookupPromptCache" cacheDesc="值列表描述">	<eventHandlers>		<cache:EntityReloadHandler entity="sys_codes" topic="dml_event" reloadBM="sys.sys_service_lookup_v"/>		<cache:EntityReloadHandler entity="sys_code_values" topic="dml_event" reloadBM="sys.sys_service_lookup_v"/>		<cache:EntityReloadHandler entity="fnd_description" topic="dml_event" reloadBM="sys.sys_service_lookup_v"/>		<cache:RecordReloadHandler event="lookup_update" topic="dml_event" operation="update"/>	</eventHandlers></cache:cache-provider>