body {
	color: #333;
	font: 12px Arial, "Î¢ÈíÑÅºÚ";
	margin: 0;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.main {
	width: 732px;
	padding-left: 4px;
}

#container {
	overflow: hidden;
	margin: 0 auto;
	width: 988px;
}

.title {
	overflow: hidden;
	border: 0;
	height: 38px;
	margin: 0;
	border-bottom:1px solid #cecece;
}

.title label {
	display: inline-block;
	font: bold 16px/36px "Î¢ÈíÑÅºÚ";
	padding: 0 2px 0 8px;
	width: auto;
	color:#f98818;
}

.help-title {
	overflow: hidden;
	border: 0;
	height: 38px;
	margin: 0;
	border-bottom:1px solid #cecece;
	background:url(../images/help-title.jpg) no-repeat;
}
.help-title span {
    line-height: 38px;
    margin-left: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.mainContent {
	border: 1px solid #cecece;
	width: 722px;
	margin-top: 6px;
}

.philanSide {
	width: 248px;
	padding-right: 4px;
}
.workflow {
	width: 216px;
	height: 232px;
	border: 1px solid #cecece;
	margin-top: 6px;
	margin-bottom: 6px;
	background: #fff;
	border: 1px solid #cecece;
}
.consult {
	width: 216px;
	height: 208px;
	border: 1px solid #cecece;
	margin-top: 6px;
	margin-bottom: 6px;
	background: #fff;
	border: 1px solid #cecece;

}

.help {
	width: 216px;
	height: 205px;
	border: 1px solid #cecece;
	margin-top: 6px;
	margin-bottom: 6px;
	background: #fff;
}

.help-border {
	border-left:1px solid #cecece;
	border-right:1px solid #cecece;
	border-bottom:1px solid #cecece;
}

.personInfoSide {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-bottom: 9px;
}

.personInfoSide dl {
	padding: 7px 0 5px 8px;
	overflow: hidden;
	margin-bottom: -5px;
}

.personInfoSide dl dt {
	width: 73px;
	float: left;
	padding-top: 3px;
}

.personInfoSide .mainNav {
	display: block;
	font: 14px/28px "Î¢ÈíÑÅºÚ";
	padding-left: 20px;
	height:25px;
}

.personInfoSide a {
	color: #333;
	text-decoration: none;
}

b {
	font-size: 14px;
	color:#665b45;
	font-weight:bold; 
	text-decoration:none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

element.style {
	
}

.gray {
	color: #999;
}

ul {
	list-style: none outside none;
	padding: 0;
	margin: 0;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.app_text {
	height: 24px;
	margin-top:20px;
	line-height:24px;
	text-align:center;
}

.js-slide {
}

.js-slide a:hover {
	text-decoration:none;
}

.app_icon0 {
	width: 115px;
	height: 85px;
	background:url(../images/icon1/icon4.png) no-repeat bottom;
}

.app_icon1 {
	width: 115px;
	height: 85px;
	background:url(../images/icon1/icon5.png) no-repeat bottom;
}

.app_icon2 {
	width: 115px;
	height: 85px;
	background:url(../images/icon1/icon7.png) no-repeat bottom;
}

.app_icon3 {
	width: 115px;
	height: 85px;
	background:url(../images/icon1/icon8.png) no-repeat bottom;
}

.app_icon4 {
	width: 115px;
	height: 85px;
	background:url(../images/icon1/icon9.png) no-repeat bottom;
}

.list_box_n0 {
	background:url(../images/list-box-bg.jpg) no-repeat;
	height: 157px;
	width:129px;
	position: relative;
	cursor: pointer;
}
.list_box_n1 {
	background:url(../images/list-box-bg.jpg) no-repeat;
	height: 157px;
	width:129px;
	position: relative;
	cursor: pointer;
}
.list_box_n2 {
	background:url(../images/list-box-bg.jpg) no-repeat;
	height: 157px;
	width:129px;
	position: relative;
	cursor: pointer;
}
.list_box_n3 {
	background:url(../images/list-box-bg.jpg) no-repeat;
	height: 157px;
	width:129px;
	position: relative;
	cursor: pointer;
}
.list_box_n4 {
	background:url(../images/list-box-bg.jpg) no-repeat;
	height: 157px;
	width:129px;
	position: relative;
	cursor: pointer;
}
