.layout-form {
    border-collapse:collapse;
}
.form_head {
    border-left:none;
    background-image:none;
    font-weight:bold;
    font-size:14px;
}
.form_head {
    border:none;
    padding-left:0px;
}
.layout-title,.item-wrap,.item-textarea,.cell-editor {
    border:none;
}
.item-comboButton,.item-dateButton, .item-tf, .item-lovButton{
    background-image:none;
}
.prt_h {
    display:none;
}
.prt-cell{
    padding:3px;
}
.prt-win {
    display:none;
}