<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.IDessertMapper">

	<select id="selectBigDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		order by d.rebate limit 0,3

	</select>

	<select id="selectHotDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		order by d.clicks desc limit 0,3

	</select>

	<select id="selectNewDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		order by d.time desc limit 0,3

	</select>

	<select id="selectCheapDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		order by d.rebate limit 0,3

	</select>

	<select id="selectClicksDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		order by d.clicks desc limit 0,2

	</select>

	<select id="selectExpensiveDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		order by d.price desc limit 0,3

	</select>

	<select id="singleDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.details details,
		d.num num,
		d.pic pic
		from dessert d
		where d.id=#{param1}

	</select>

	<select id="searchDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		<if test="keyword!='' and keyword!=null">
			where d.name=#{keyword}
		</if>

	</select>
	
	<select id="searchType" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		<if test="keyword!='' and keyword!=null">
			where d.type=#{keyword}
		</if>

	</select>



	<insert id="addCart" parameterType="entity.Cart">
		insert into
		cart(userId,dessertId,num)
		values(
		#{userId},
		#{dessertId},
		#{num}
		)

	</insert>

	<select id="queryCart" resultType="entity.Cart">

		select c.id id,
		c.userId userId,
		c.dessertId dessertId,
		c.num num
		from cart c where c.userId=#{userId}


	</select>

	<select id="queryDessert" resultType="entity.Dessert">

		select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price
		from dessert d
		where d.id=#{dessertId}
	</select>

	<select id="queryCartNum" resultType="entity.Cart">

		select c.id id,
		c.userId userId,
		c.dessertId dessertId,
		c.num num
		from cart c where c.userId=#{userId}
	</select>

	<select id="querySameDessert" resultType="int">

		select count(id)
		from cart where userId=#{userId} and dessertId=#{dessertId}
	</select>

	<update id="addNum" parameterType="entity.Cart">
		update cart
		set num=num+#{num}
		where userId=#{userId} and dessertId=#{dessertId}

	</update>
	<insert id="addOrder" parameterType="vo.ContactDessert">

		insert into
		orders(userId,name,type,price,rebate,money,num,allMoney,isChoose)
		values(
		#{userId},
		#{name},
		#{type},
		#{price},
		#{rebate},
		#{money},
		#{num},
		#{allMoney},
		#{isChoose}
		)


	</insert>

	<select id="selectOrder" resultType="vo.ContactDessert">
		select o.userId userId,
		o.name name,
		o.type type,
		o.price type,
		o.rebate rebate,
		o.money money,
		o.num num,
		o.allMoney allMoney,
		o.isChoose isChoose
		from orders o
		where o.userId = #{userId}

	</select>
	<select id="countDessert" resultType="int">
	select count(id)
		from dessert
	</select>
	
	  <select id="queryDessertByLimit" resultType="entity.Dessert">
	select d.id id,
		d.name name,
		d.type type,
		d.time time,
		d.rebate rebate,
		d.clicks clicks,
		d.price price,
		d.pic pic
		from dessert d
		where d.id != 0
		<if test="typeWord!=null and typeWord!='' and typeWord !='null'">
		and d.type =#{typeWord}
		</if>
		 <if test="keyword!=null and keyword!='' and keyword !='null'">
		and d.name like #{keyword}
		</if>
		order by d.id
		limit #{start},#{count} 
	
	</select>  
</mapper>