<ion-view view-title="主页">
<ion-content class="padding" id="home-main" scroll="false">


  <div class="home-main-body">
    <div class="slider-img-block">
        slider-img-block
    </div>
    <div class="nine-block-container">
      <div class="nine-block-line" ng-repeat="items in nineBlockData">
        <div class="nine-block" ng-repeat="item in items">
          <img src="{{item.imageUrl}}"/>
          <span>{{item.title}}</span>
        </div>
      </div>
    </div>
  </div>


</ion-content>
</ion-view>
