<!--style>
.nine-block-container{
  display: table;
  background-color: white;
  width: 100%;
  line-height: 180px;
  padding: 2% 1% 2% 1%;
}
.nine-blocks-line{
  display: table-row;
}
.nine-block{
  display: table-cell;
}

.nine-block .image-wrapper{
  padding: 10% 8% 10% 8%;
  border: 1px solid red;
}
.image-wrapper .image{
  width: 50%;
  height: 50%;
  margin: 0px auto;
  display: table-cell;
}
.nine-block .title{
  text-align: center;
  size: 2rem;
}
</style-->

<!--div class="nine-block" ng-repeat="item in nineBlockData">
    <div class="nine-block-img" style="background-image:url(img/test.png);">

    </div>
    <img class="nine-block-img" src="{{item.imageUrl}}" ng-if="item.imageUrl"/>
    <div class="nine-block-img {{item.iconClass}}" ng-if="item.iconClass"></div>
    <div class="title">{{item.title}}</div>
</div-->
