<ion-view view-title="审批" hide-nav-bar="false"
          hide-back-button="false" cache-view="true">
    <!--   ng-controller="WFLListController"  -->
    <ion-nav-buttons side="right">
        <!--button class="button wfl_select_button">
            <span ng-show="isSelectMode() && showSelectAll &&!isSelectedAll" ng-click="selectAll();"> 全选  </span>
            <span ng-show="isSelectMode() && isSelectedAll" ng-click="unSelectAll();"> 取消全选 </span>
            <span ng-show="isSelectMode() && currentSelectedItems > 0 && !isSelectedAll && !showSelectAll" ng-click="clickNumberButton();"> {{currentSelectedItems}} </span>
        </button-->
        <button class="button wfl_select_button" ng-if="isSelectMode() && showSelectAll &&!isSelectedAll"
                ng-click="selectAll();">
            <span> 全选 </span>
        </button>
        <button class="button wfl_select_button" ng-if="isSelectMode() && isSelectedAll" ng-click="unSelectAll();">
            <span>取消</span>
        </button>
        <button class="button wfl_select_button"
                ng-if="isSelectMode() && currentSelectedItems > 0 && !isSelectedAll && !showSelectAll"
                ng-click="clickNumberButton();">
            <span>{{currentSelectedItems}} </span>
        </button>
    </ion-nav-buttons>
    <ion-content id="approve-main-page" scroll="false">
        <!--div class="top"></div-->

        <div class="center-list">
            <ion-scroll id="center-list-scroller" class="fill-parent">
                <ion-refresher pulling-text="{{refresherText}}" on-refresh="reloadData();" on-pulling="onPulling();">
                </ion-refresher>
                <ion-list ng-init="reloadData()" class="fill-parent wfl-list">
                    <ion-item class="wfl-list-item"
                              ng-class="{'first':($index==0),'last':($index==(listItemDatas.length-1))}"
                              ng-repeat="item in listItemDatas">
                        <!--div class="image-wrapper fill-parent">
                            <div class="image-wrapper-inner fill-parent">
                                <img src="{{item.logo}}" class="item-logo fill-parent">
                            </div>
                        </div-->
                        <div class="wfl-item-center">
                            <div class="wfl-item-center-inner fill-parent">
                                <div class="wfl-item-center-divs-wrapper">
                                    <div class="fill-parent">
                                        <div>
                                            <div class="type">{{item.ins_doc_category_desc}} : {{item.ins_sub_emp}}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="doc-num">{{item.ins_doc_num}}</div>
                                        </div>
                                        <div>
                                            <div class="desc">{{item.ins_doc_desc}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wfl-item-right">
                            <div class="wfl-item-right-inner fill-parent">
                                <div class="right-left fill-height">
                                    <i class="icon ion-link icon-fujian"></i>
                                </div>
                                <div class="right-right fill-height">
                                    <div class="right-right-top">
                                        <span>{{item.ins_sub_date_format}}</span>
                                    </div>
                                    <div class="right-right-bottom">
                                        <label class="checkbox" ng-click="selectItem(item)">
                                            <input type="checkbox" ng-checked="item.selected">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
                <div class="no-more-data" ng-if="!noMoreData">
                    上拉加载更多
                </div>
                <ion-infinite-scroll ng-if="isLoadingMore ? false:!noMoreData" immediate-check="false" distance="5%"
                                     on-infinite="loadMoreData();">
                </ion-infinite-scroll>
                <div class="no-more-data" ng-if="noMoreData">
                    暂无更多数据了
                </div>
            </ion-scroll>
        </div>

        <div class="select-operations fill-width" ng-if="isSelectMode()">
            <div class="select-operation nod">
                <a class="button button-outline icon-right ion-checkmark-rounds button-positive">
                    同意
                </a>
            </div>
            <div class="select-operation refuse">
                <a class="button button-outline icon-right ion-close-round button-positive">
                    拒绝
                </a>
            </div>
            <div class="select-operation more">
                <a class="button button-outline icon-right ion-more button-positive">
                    更多
                </a>
            </div>
        </div>

        <div class="wfl-basic-search-bar" ng-if="isScanMode()">
            <div class="wfl-basic-search-wrapper">
                <div class="wfl-basic-search">
                    <labe class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="输入搜索内容"/>
                    </labe>
                </div>
                <div class="wfl-basic-button" ng-click="toogleSearchBottom();">
                    <div class="button button-outline button-positive" ng-disabled="isSelectMode()">
                        高级
                    </div>
                </div>
            </div>
        </div>

        <div class="wfl-senior-search-panel" cound-hide ng-if="isSearchMode()" ng-click="hideSeniorPanel($event);">
            <div class="wfl-senior-search-wrapper">

                <div class="wfl-senior-search-form-title">
                    <span class="bar bar-header bar-positive item-input-inset">
                        <div class="title">高级搜索</div>
                    </span>
                </div>

                <ion-scroll has-bouncing="true" class="senior-search-iscroll">

                    <form action="">
                        <div class="wfl-senior-search-form">
                            <div class="row">
                                <div class="col col-25">单据类别</div>
                                <div class="col col-65">
                                    <label class="item-item-input">
                                        <input type="text"/>
                                        <i class="icon ion-android-arrow-dropdown placeholder-icon"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-25">单据编号</div>
                                <div class="col col-65">
                                    <label class="item-item-input">
                                        <i class="icon ion-search placeholder-icon icon-right"></i>
                                        <input type="date"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-25">提交人</div>
                                <div class="col col-65">
                                    <label class="item-item-input">
                                        <i class="icon ion-search placeholder-icon icon-right"></i>
                                        <input type="search"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <input type="text"/><input type="search"/><input type="date"/>

                    <div class="list hide-on-keyboard-open">
                        <label class="senior-search-input row item-item-input">
                            <span class="input-label col-25"></span>
                            <input type="text" class="col-65"/>
                        </label>
                        <label class="senior-search-input row item-item-input">
                            <span class="input-label col-25">单据编号</span>
                            <input type="text" class="col-65"/>
                        </label>
                        <label class="senior-search-input row item-item-input">
                            <span class="input-label col-25">提  交  人</span>
                            <input type="text" class="col-65"/>
                        </label>
                    </div>

                </ion-scroll>

            </div>
        </div>

    </ion-content>
</ion-view>


<!--style>
  .fill-parent{
    width: 100%;
    height: 100%;
  }
  /*** 全局style *****/  
  .center-list {
    width: 100%;
    height: 92%;
    background-color: white;
  }
  .page-buttom {
    background-color: #EEEDF3;
    width: 100%;
    height: 8%;
    min-height: 4em;
  }
  /********  cent-list  *********/
  #center-list-scroller{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  /**********  page-button ******************/
  .page-buttom .item-input-inset{
    border: 0px solid white;
    /*height: 95%;*/
    height: 30px;
    padding: 0px 0px 0px 5%;
    width: 60%;
    float: left;
    margin: 0px;
    display: inline-block;
    background-color: #EEEDF3;
  }
  .basic-search{
    /*border: 1px solid red;*/
     padding: 0px 5% 0 0;
  }
  .basic-search input{
    height: 2em;
  }
  .basic-search .item-input-wrapper{
    border-bottom: 1px solid green;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .search-buttons {
    width: 40%;
    height: 100%;
    display: inline-block;
    float: right;
  }
  .search-buttons .search-button-wrapper{
    display: table;
  }
  .search-buttons div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .search-buttons span{
    padding: 0.5em;
    font-size: 1em;
    font-color: #999;
  }
</style-->