<ion-view view-title="{{config.viewTitle}}" hide-back-button="false" cache-view="true"
          ng-controller="WflListTododoneCtrl" hide-nav-bar="false">

    <ion-nav-buttons side="right" id="wfl-list-page-nav-buttons">
        <div class="hec-circl-button wfl_select_button"
             ng-if="config.isListPage && isSelectMode() && config.showSelectAllButton" ng-click="selectAll();">
            <span style="color: #fff"> 全选 </span>
        </div>
        <div class="hec-circl-button wfl_select_button"
             ng-if="config.isListPage && isSelectMode() && config.isSelectAll && !config.showSelectAllButton"
             ng-click="unSelectAll();">
            <span style="color: #fff">取消</span>
        </div>
        <div class="hec-circl-button wfl_select_button"
             ng-if="isWflListTododoneState() && config.isListPage && isSelectMode() && config.selectNum > 0 && !config.showSelectAllButton && !config.isSelectAll"
             ng-click="clickNumberButton();">
            <span style="color: #fff;">{{config.selectNum}} </span>
        </div>
    </ion-nav-buttons>

    <ion-content id="wfl-list-todo-content" scroll="false" ng-click="hidePartOfAllButtons($event);"
                 style="background: #EBEBEB;">
        <div class="list-todo-content-inner fill-parent">
            <div class="header-search">
                <div class="input-shadow">
                    <div class="input-left" style="width: 12%;"><i class="ion-ios-search"></i></div>
                    <div style="width: 88%;">
                        <input class="input-search" placeholder="输入条件查询" ng-model="config.queryStr"
                               ng-keyup="searchInputOnKeyup($event);"/>
                    </div>
                </div>
            </div>
            <ion-scroll id="hec-tododone-list-scroll" has-bouncing="true">

                <ion-refresher pulling-text="{{config.refresherText}}" on-refresh="reloadData();">
                </ion-refresher>

                <div id="br-wfl-todo-list" class="br-wfl-todo-list-yd-only-one timeline" ng-if="config.isTodo">
                    <div class="card-item-outset" ng-class="{'first-card-item-outset':item.showSubDate}"
                         ng-repeat="item in config.listData">
                        <div class="card-item-inset"
                             ng-class="{'first-card-item-inset':item.showSubDate,'last-card-item-inset':item.showSubDatePre}">
                            <div class="row item-title">
                            <span class="col col-90"
                                  style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                {{item.ins_sub_date_day}}【{{item.ins_doc_hd_title}}】
                            </span>
                                <label ng-click="selectItem($index)" class="col col-10 checkbox">
                                    <input type="checkbox" class="listdata-item-selected-todo">
                                </label>
                            </div>
                            <div style="padding: 0.375rem 0.75rem" ng-click="goDetailPage(item);">
                                <div class="item-line">
                                    制单人:&nbsp;{{item.ins_sub_emp}}
                                </div>
                                <div class="item-line">
                                    金<span style="display: inline-block;text-indent: 0.75rem">额</span>:&nbsp;
                                    {{item.ins_doc_amount | currency : ''}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="br-wfl-done-list" class="br-wfl-done-list-yd-only-one timeline" ng-if="config.isDone">
                    <div class="card-item-outset" ng-class="{'first-card-item-outset':item.showSubDate}"
                         ng-repeat="item in config.listData">
                        <div class="card-item-inset"
                             ng-class="{'first-card-item-inset':item.showSubDate,'last-card-item-inset':item.showSubDatePre}">
                            <div class="row item-title">
                            <span class="col col-90"
                                  style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                {{item.ins_sub_date_day}}【{{item.ins_doc_hd_title}}】
                            </span>
                                <label ng-click="selectItem($index)" class="col col-10 checkbox">
                                    <input type="checkbox" class="listdata-item-selected-done"
                                           ng-class="{'not-selected':(item.ins_doc_status!=1)}">
                                </label>
                            </div>
                            <div style="padding: 0.375rem 0.75rem" ng-click="goDetailPage(item);">
                                <div class="item-line" style="display: flex">
                                    <div class="col col-60">
                                        当前审批人:&nbsp;{{item.ins_cur_node_emp_name}}
                                    </div>
                                    <div class="col col-40">
                                        制单人:&nbsp;{{item.ins_sub_emp}}
                                    </div>
                                </div>
                                <div class="item-line" style="display: flex">
                                    <div class="col col-60">
                                        审批状态:&nbsp;{{item.ins_doc_status_name}}
                                    </div>

                                    <div class="col col-40">
                                        金<span style="display: inline-block;text-indent: 0.75rem">额</span>:&nbsp;
                                        {{item.ins_doc_amount | currency : ''}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="br-wfl-apply-list" class="timeline" ng-if="config.isApply">
                    <div class="card-item-outset" ng-class="{'first-card-item-outset':item.showSubDate}"
                         ng-repeat="item in config.listData">
                        <div class="card-item-inset"
                             ng-class="{'first-card-item-inset':item.showSubDate,'last-card-item-inset':item.showSubDatePre}">
                            <div class="item-title"
                                 style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                                {{item.ins_sub_date_day}}【{{item.ins_doc_hd_title}}】
                            </div>
                            <div style="padding: 0.375rem 0.75rem" ng-click="goDetailPage(item);">
                                <div class="item-line">
                                    单据编号:&nbsp;{{item.ins_doc_num}}
                                </div>
                                <div class="item-line" style="display: flex">
                                    <div class="col col-60">
                                        当前审批人:&nbsp;{{item.ins_cur_node_emp_name}}
                                    </div>
                                    <div class="col col-40">
                                        审批状态:&nbsp;{{item.status_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style>
                    .header-search {
                        width: 100%;
                        background-color: #EBEBEB;
                        border: 1px solid #e3e0e0;
                        padding: 0.5rem 0.625rem 0.625rem;
                        z-index: 3;
                    }

                    .input-shadow {
                        display: flex;
                        width: 100%;
                        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
                        border-radius: 0.375rem;
                    }

                    .input-search {
                        width: 100%;
                        height: 2.25rem;
                        padding: 0.375rem;
                        font-size: 0.875rem;
                        line-height: 1.42857143;
                        color: #555;
                        background-color: #fff;
                        background-image: none;
                        border: none;
                        border-radius: 0 0.375rem 0.375rem 0;
                        -webkit-appearance: none;
                    }

                    .input-left {
                        padding: 0.25rem 0 0.25rem 0.5rem;
                        font-size: 1.75rem;
                        color: #555;
                        text-align: center;
                        background-color: #fff;
                        border: none;
                        border-radius: 0.375rem 0 0 0.375rem;
                        height: 2.25rem;
                    }

                    .timeline {
                        position: relative;
                        width: 100%;
                        margin: 0 auto;
                        padding: 0.25em 0;
                        list-style-type: none;
                    }

                    .timeline:before {
                        content: "";
                        position: absolute;
                        left: 0.75rem;
                        top: 0;
                        display: block;
                        width: 1px;
                        height: 100%;
                        background: rgb(200, 200, 200);
                        background: -webkit-linear-gradient(top, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 8%, rgb(200, 200, 200) 92%, rgba(200, 200, 200, 0) 100%);
                        background: -ms-linear-gradient(top, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 8%, rgb(200, 200, 200) 92%, rgba(200, 200, 200, 0) 100%);
                        background: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0%, rgb(200, 200, 200) 8%, rgb(200, 200, 200) 92%, rgba(200, 200, 200, 0) 100%);
                        z-index: 5;
                    }

                    .card-item-outset {
                        position: relative;
                        margin: 0 0.5rem;
                    }

                    .first-card-item-outset {
                        margin: 0.75rem 0.5rem 0;
                    }

                    .first-card-item-outset:before {
                        content: "";
                        position: absolute;
                        top: 0.875rem;
                        left: 2px;
                        display: block;
                        width: 5px;
                        height: 5px;
                        background: #fff;
                        border-radius: 50%;
                        border: 1px solid rgb(255, 80, 80);
                        z-index: 10;
                    }

                    .first-card-item-outset:after {
                        content: "";
                        position: absolute;
                        left: 0.5rem;
                        top: 1rem;
                        height: 16px;
                        width: 16px;
                        margin-top: -8px;
                        border: solid transparent;
                        border-right-color: rgb(248, 248, 248);
                        border-width: 8px;
                        pointer-events: none;
                    }

                    .card-item-inset {
                        box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
                        overflow: hidden;
                        margin: 0 0.375rem 0 1.5rem;
                        background-color: #fff;
                    }

                    .first-card-item-inset {
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }

                    .last-card-item-inset {
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }

                    .card-item-outset:last-child {
                        margin-bottom: 0.75rem;
                    }

                    .card-item-outset:last-child .card-item-inset {
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }

                    .item-title {
                        font-size: 0.875rem;
                        padding: 0 0.75rem;
                        height: 2rem;
                        line-height: 2rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        color: #333;;
                        background: #f8f8f8;
                        border-bottom: 1px dashed #e4e4e4;
                    }

                    .item-line {
                        font-size: 0.75rem;
                        height: 1.375rem;
                        line-height: 1.375rem;
                        color: #333;
                    }

                    /* ionic样式调整 */
                    .col,
                    .checkbox {
                        padding: 0;
                    }

                    .checkbox input {
                        position: relative;
                        top: 0.25rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        float: right;
                    }

                    .checkbox input:after {
                        position: absolute;
                        top: 34%;
                        left: 20%;
                    }

                    .checkbox input:checked:before {
                        background: #ffc107;
                        border-color: #ffc107;
                    }
                </style>

                <div class="isFirstReloading" ng-if="config.isFirstReloading"
                     style="height:3rem;line-height:3rem;font-size:0.8rem;width:100%;text-align:center;color:rgba(49, 49, 49, 0.51);">
                    <ion-spinner icon="ios-small" class="users-loading-spinner"
                                 style="margin-right:1rem;"></ion-spinner>
                    <span>正在刷新数据</span>
                </div>

                <div class="no-more-data"
                     style="height:3rem;line-height:3rem;font-size:0.8rem;width:100%;text-align:center;color:rgba(49, 49, 49, 0.51);"
                     ng-if="(config.isLoadingMore || config.isReloading ) ? false : !config.hasNextPage">
                    暂无更多数据了
                </div>

                <ion-infinite-scroll ng-if="!config.isReloading && (config.isLoadingMore ? true : config.hasNextPage)"
                                     immediate-check="false" distance="1%" on-infinite="loadMoreData();">
                </ion-infinite-scroll>
            </ion-scroll>

            <!-- 待办事项  ng-class="{'hec-hide':(config.isTodo==true)}"  -->
            <div id="hec-bottom-buttons-div" class="tabs tabs-icon-top tabs-positive" style="position: static"
                 ng-if="config.isTodo==true">
                <!-- ng-click="goBatchReject();" -->
                <div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="showOpinionPopup('reject')">
                    <i class="ion-close" style="display: block;font-size: 1.125rem;height: 1.25rem;"></i>
                    <span class="t">拒绝</span>
                </div>

                <div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="showOpinionPopup('nod')">
                    <i class="ion-checkmark"
                       style="display: block;font-size: 1.25rem"></i>
                    <span class="t">同意</span>
                </div>
                <div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="goBatchTransfer();">
                    <i class="ion-android-share" style="display: block;font-size: 1.25rem"></i>
                    <span class="t">转交</span>
                </div>
                <div class="tab-item" style="margin-top: 8px;opacity: 1;">
                    <i cound-switch
                       class="icon ion-android-more-horizontal"></i>
                </div>

                <div style="width:0px; max-width:0px;height:2rem;max-height:2rem;min-height:2rem;">
                    <div cound-switch class="br-top-1 select-operation has-border-bottom addhandler"
                         ng-class="{'show-me':(config.showAllBottons),'hide-me':(!config.showAllBottons)}"
                         ng-click="goBatchAddHandler();">
                        <span class="t">添加处理人</span>
                    </div>
                    <div cound-switch
                         ng-class="{'show-me':(config.showAllBottons),'hide-me':(!config.showAllBottons)}"
                         class="br-top-2 select-operation has-border-bottom notify"
                         ng-click="goBatchNotify();">
                        <span class="t">通知</span>
                    </div>
                </div>
            </div>

            <!-- 已办事项 -->
            <div class="hec-bottom-content-div fill-width hec-bottom-for-done" ng-if="config.isDone==true">
                <div class="hec-bottom-buttons-wrapper fill-parent">
                    <div class="hec-bottom-buttons fill-parent">
                        <div class="hec-bottom-buttons-inner fill-parent">
                            <div class="select-operation notify" ng-click="goBatchNotify();"
                                 style="background: #c4151c;border-right: none;">
                                <!--i class="icon operation-icon operation-icon-notify ion-ios-bell-outline"></i-->
                                <span style="color: #fff;">通知</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                textarea.reject-textarea-comment::-webkit-input-placeholder {
                    color: #FFAEAE;
                }

                textarea.reject-textarea-comment:-ms-input-placeholder {
                    color: #FFAEAE;
                }

                textarea.reject-textarea-comment:-moz-placeholder {
                    color: #FFAEAE;
                }

                textarea.reject-textarea-comment::-moz-placeholder {
                    color: #FFAEAE;
                }

                textarea.approve-textarea-comment::-webkit-input-placeholder {
                    color: #FFAEAE;
                }

                /*#br-wfl-done-list .listdata-item-selected-done.not-selected:before {*/
                /*background-color: #f8f8f8 !important;*/
                /*border-color: #f8f8f8 !important;*/
                /*}*/

                /*#br-wfl-done-list .listdata-item-selected-done.not-selected:after {*/
                /*border-color: #f8f8f8 !important;*/
                /*}*/

                .handle-loading-tip {
                    width: 100%;
                    height: 100%;
                    display: table;

                }

                .handle-loading-tip span {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                }

                i.ion-close {
                    color: #c4151c;
                }

                i.ion-checkmark {
                    color: #c4151c;
                }

                i.ion-android-share {
                    color: #c4151c;
                }

                i.ion-android-more-horizontal {
                    color: #c4151c;
                }

                span.t {
                    color: #7c7d7f;
                }

                .tabs-positive > .tabs, .tabs.tabs-positive {
                    border-color: white;
                    background-color: white;
                    background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
                    color: #fff;
                }

                .br-top-1, .br-top-2 {
                    position: relative !important;
                    left: -6rem !important;
                    width: 6rem !important;
                    background-color: white;
                    text-align: center;
                }

                .select-operation.notify {
                    background-color: #c4151c;
                }

                span.t {
                    background-color: white;
                }

                .select-operation.notify {
                    background-color: #c4151c;
                }

                button.button.ng-binding.button-positive {
                    background-color: #c4151c;
                    border: 1px solid #c4151c;
                }

                /*button.button.ng-binding.button-default {*/
                /*background-color: #c4151c;*/
                /*border:1px solid #c4151c;*/
                /*}*/
            </style>
        </div>
        <!--<div class="list-todo-content-inner fill-parent">-->

        <!--<ion-scroll id="hec-tododone-list-scroll" class="fill-width" has-bouncing="true">-->

        <!--<ion-refresher pulling-text="{{config.refresherText}}" on-refresh="reloadData();">-->
        <!--</ion-refresher>-->
        <!--&lt;!&ndash; ng-if="config.selectNum <= 0" &ndash;&gt;-->

        <!--<div id="br-wfl-todo-list" class="br-wfl-todo-list-yd-only-one hec-list padding fill-parent"-->
        <!--ng-if="config.isTodo">-->
        <!--<div class="hec-item fill-width" ng-repeat="item in config.listData">-->
        <!--<div class="ins-doc-time fill-width" ng-if="item.showSubDate"-->
        <!--style="background-color: #EEEDF3;height:2.5rem;line-height:2.5rem;padding-left:1rem;font-size: 1rem;">-->
        <!--{{item.ins_sub_date_day}}-->
        <!--</div>-->
        <!--<div></div>-->
        <!--<div class="hec-item-inner fill-parent"-->
        <!--ng-class="{'first-item':($index==0),'last-item':(($index+1)==config.listData.length),'hec-item-show-select': (config.isTodo || config.isDone),'hec-item-hide-select':(config.isApply)}"-->
        <!--style="height:5.5rem;">-->
        <!--&lt;!&ndash; , 'hec-item-todo':(config.isTodo==true),'hec-item-done':(config.isDone==true) &ndash;&gt;-->
        <!--<div class="hec-item-left fill-height" ng-click="goDetailPage(item);">-->
        <!--<div class="left-content fill-parent">-->
        <!--<div class="left-title"-->
        <!--style="font-size:0.875rem;height:1.75rem;line-height:1.75rem;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;color: #333;">-->
        <!--标题:&nbsp;{{item.ins_doc_hd_title}}-->
        <!--</div>-->
        <!--<div class="left-num"-->
        <!--style="font-size:0.875rem;height:1.375rem;line-height:1.3755rem;color: #999;">-->
        <!--制单人:&nbsp;{{item.ins_sub_emp}}-->
        <!--</div>-->
        <!--<div class="left-desc"-->
        <!--style="font-size:0.875rem;height:1.3755rem;line-height:1.375rem;color: #999;">-->
        <!--金额:&nbsp;{{item.ins_doc_amount | currency : ''}}-->
        <!--</div>-->
        <!--&lt;!&ndash;div class="left-title">-->
        <!--<span class="title">-->
        <!--{{item.ins_doc_category_desc}}&nbsp;&nbsp;:&nbsp;&nbsp;{{item.ins_sub_emp}}-->
        <!--</span>-->
        <!--<span class="time">-->
        <!--{{item.ins_sub_date_format}}-->
        <!--</span>-->
        <!--</div>-->
        <!--<div class="left-num">-->
        <!--{{item.ins_doc_num}}-->
        <!--</div>-->
        <!--<div class="left-desc">-->
        <!--{{item.ins_doc_desc}}-->
        <!--</div&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="hec-item-right" style="align-self: center;text-align: center;">-->
        <!--&lt;!&ndash;div class="right-top-time">-->
        <!--{{item.ins_sub_date_format}}-->
        <!--</div&ndash;&gt;-->
        <!--<div class="right-center-select" style="display: table;">-->
        <!--&lt;!&ndash;  ng-checked="item.selected" : 界面滚动的原因  &ndash;&gt;-->
        <!--<label ng-click="selectItem($index)" class="checkbox"-->
        <!--style="display: table;">-->
        <!--<input class="listdata-item-selected-todo" type="checkbox"-->
        <!--style="margin: 1.2rem 1.5rem;">-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div id="br-wfl-done-list" class="br-wfl-done-list-yd-only-one hec-list padding fill-parent"-->
        <!--ng-if="config.isDone">-->
        <!--<div class="hec-item fill-width" ng-repeat="item in config.listData">-->
        <!--<div class="ins-doc-time fill-width" ng-if="item.showSubDate"-->
        <!--style="background-color: #EEEDF3;height:2.5rem;line-height:2.5rem;padding-left:1rem;font-size: 1rem;">-->
        <!--{{item.ins_sub_date_day}}-->
        <!--</div>-->
        <!--<div class="hec-item-inner done fill-parent"-->
        <!--ng-class="{'first-item':($index==0),'last-item':(($index+1)==config.listData.length),'hec-item-show-select': (config.isTodo || config.isDone),'hec-item-hide-select':(config.isApply)}"-->
        <!--style="height:6.6rem;font-size: 0.875rem;">-->
        <!--<div class="hec-item-left fill-height" ng-click="goDetailPage(item);">-->
        <!--<div class="left-content fill-parent">-->
        <!--<div class="done-left-info-line done-left-title left-title" style="color: #333;">-->
        <!--标题:&nbsp;{{item.ins_doc_hd_title}}-->
        <!--</div>-->
        <!--<div class="row" style="padding: 0;">-->
        <!--<div class="done-left-info-line left-desc col col-60" style="padding:0px;">-->
        <!--当前审批人:&nbsp;{{item.ins_cur_node_emp_name}}-->
        <!--</div>-->
        <!--<div class="done-left-info-line left-num col col-40" style="padding:0px;">-->
        <!--制单人:&nbsp;{{item.ins_sub_emp}}-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row" style="padding: 0;">-->
        <!--<div class="done-left-info-line left-desc col col-60" style="padding:0px;">-->
        <!--审批状态:&nbsp;{{item.ins_doc_status_name}}-->
        <!--</div>-->

        <!--<div class="done-left-info-line left-num col col-40" style="padding:0px;">-->
        <!--金额:&nbsp;{{item.ins_doc_amount | currency : ''}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<style>-->
        <!--.hec-item-inner.done {-->
        <!--height: 5rem !important;-->
        <!--padding-bottom: .5rem !important;-->
        <!--}-->

        <!--.done-left-info-line {-->
        <!--font-size: 0.875rem;-->
        <!--height: 1.5rem;-->
        <!--line-height: 1.5rem !important;-->
        <!--color: #999;-->
        <!--overflow: hidden;-->
        <!--white-space: nowrap;-->
        <!--text-overflow: ellipsis;-->
        <!--}-->

        <!--.done-left-info-line.done-left-title {-->
        <!--/*font-size: 1rem;-->
        <!--height: 1.5rem !important;-->
        <!--line-height: 1.5rem !important;	*/-->
        <!--}-->

        <!--#br-wfl-done-list .listdata-item-selected-done.not-selected:before {-->
        <!--background-color: #EEEDF3 !important;-->
        <!--border-color: #EEEDF3 !important;-->
        <!--}-->

        <!--#br-wfl-done-list .listdata-item-selected-done.not-selected:after {-->
        <!--border-color: #EEEDF3 !important;-->
        <!--}-->
        <!--</style>-->
        <!--<div class="hec-item-right" style="align-self: center;text-align: center;">-->
        <!--<div class="right-center-select" style="display: table;">-->
        <!--&lt;!&ndash;  ng-checked="item.selected" : 界面滚动的原因  &ndash;&gt;-->
        <!--<label ng-click="selectItem($index)" class="checkbox"-->
        <!--style="display: table;">-->
        <!--<input class="listdata-item-selected-done" type="checkbox"-->
        <!--ng-class="{'not-selected':(item.ins_doc_status!=1)}"-->
        <!--style="margin: 1.2rem 1.5rem;">-->
        <!--&lt;!&ndash; ng-disabled="(item.ins_doc_status!=1)" &ndash;&gt;-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div id="br-wfl-apply-list" class="hec-list padding fill-parent" ng-if="config.isApply">-->
        <!--<div class="hec-item fill-width" ng-repeat="item in config.listData">-->
        <!--<div class="ins-doc-time fill-width" ng-if="item.showSubDate"-->
        <!--style="background-color: #EEEDF3;height:2.5rem;line-height:2.5rem;padding-left:1rem;font-size: 1rem;">-->
        <!--{{item.ins_sub_date_day}}-->
        <!--</div>-->
        <!--<div class="hec-item-inner fill-parent"-->
        <!--ng-class="{'first-item':($index==0),'last-item':(($index+1)==config.listData.length),'hec-item-show-select': (config.isTodo || config.isDone),'hec-item-hide-select':(config.isApply)}"-->
        <!--style="height:5rem;font-size: 0.875rem;">-->
        <!--<div class="hec-item-left fill-height" ng-click="goDetailPage(item);">-->
        <!--<div class="left-content done fill-parent">-->
        <!--<div class="left-title"-->
        <!--style="height:1.5rem;line-height:1.5rem;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">-->
        <!--标题:&nbsp;{{item.ins_doc_hd_title}}-->
        <!--</div>-->
        <!--<div class="left-num" style="height:1.25rem;line-height:1.25rem;color: #999;">-->
        <!--单据编号:&nbsp;{{item.ins_doc_num}}-->
        <!--</div>-->
        <!--<div class="row" style="padding: 0;">-->
        <!--<div class="left-desc col col-60"-->
        <!--style="height:1.25rem;line-height:1.25rem;color: #999;padding:0px;">-->
        <!--当前审批人:&nbsp;{{item.ins_cur_node_emp_name}}-->
        <!--</div>-->
        <!--<div class="left-desc col col-40"-->
        <!--style="height:1.25rem;line-height:1.25rem;color: #999;padding:0px;">-->
        <!--审批状态:&nbsp;{{item.status_name}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;div class="hec-item-right" style="align-self: center;text-align: center;">-->
        <!--<div class="right-center-select" style="display: table;">-->
        <!--<!-  ng-checked="item.selected" : 界面滚动的原因  ->-->
        <!--<label ng-click="selectItem($index)" class="checkbox" style="display: table;">-->
        <!--<input class="listdata-item-selected-apply" type="checkbox"-->
        <!--style="margin: 1.2rem 1.5rem;">-->
        <!--</label>-->
        <!--</div>-->
        <!--</div&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="isFirstReloading" ng-if="config.isFirstReloading"-->
        <!--style="height:3rem;line-height:3rem;font-size:0.8rem;width:100%;text-align:center;color:rgba(49, 49, 49, 0.51);">-->
        <!--<ion-spinner icon="ios-small" class="users-loading-spinner"-->
        <!--style="margin-right:1rem;"></ion-spinner>-->
        <!--<span>正在刷新数据</span>-->
        <!--</div>-->

        <!--<div class="no-more-data"-->
        <!--style="height:3rem;line-height:3rem;font-size:0.8rem;width:100%;text-align:center;color:rgba(49, 49, 49, 0.51);"-->
        <!--ng-if="(config.isLoadingMore || config.isReloading ) ? false : !config.hasNextPage">-->
        <!--暂无更多数据了-->
        <!--</div>-->

        <!--<ion-infinite-scroll ng-if="!config.isReloading && (config.isLoadingMore ? true : config.hasNextPage)"-->
        <!--immediate-check="false" distance="1%" on-infinite="loadMoreData();">-->
        <!--</ion-infinite-scroll>-->

        <!--</ion-scroll>-->

        <!--&lt;!&ndash; 待办事项  ng-class="{'hec-hide':(config.isTodo==true)}"  &ndash;&gt;-->
        <!--<div id="hec-bottom-buttons-div" class="tabs tabs-icon-top tabs-positive" style="position: static"-->
        <!--ng-if="config.isTodo==true">-->
        <!--&lt;!&ndash; ng-click="goBatchReject();" &ndash;&gt;-->
        <!--<div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="showOpinionPopup('reject')">-->
        <!--<i class="ion-close" style="display: block;font-size: 1.125rem;height: 1.25rem;"></i>-->
        <!--<span>拒绝</span>-->
        <!--</div>-->

        <!--<div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="showOpinionPopup('nod')">-->
        <!--<i class="ion-checkmark"-->
        <!--style="display: block;font-size: 1.25rem"></i>-->
        <!--<span>同意</span>-->
        <!--</div>-->
        <!--<div class="tab-item" style="margin-top: 5px;opacity: 1;" ng-click="goBatchTransfer();">-->
        <!--<i class="ion-android-share" style="display: block;font-size: 1.25rem"></i>-->
        <!--<span>转交</span>-->
        <!--</div>-->
        <!--<div class="tab-item" style="margin-top: 8px;opacity: 1;">-->
        <!--<i cound-switch-->
        <!--class="icon ion-android-more-horizontal"></i>-->
        <!--</div>-->

        <!--<div style="width:0px; max-width:0px;height:2rem;max-height:2rem;min-height:2rem;">-->
        <!--<div cound-switch class="br-top-1 select-operation has-border-bottom addhandler"-->
        <!--ng-class="{'show-me':(config.showAllBottons),'hide-me':(!config.showAllBottons)}"-->
        <!--ng-click="goBatchAddHandler();">-->
        <!--<span>添加处理人</span>-->
        <!--</div>-->
        <!--<div cound-switch-->
        <!--ng-class="{'show-me':(config.showAllBottons),'hide-me':(!config.showAllBottons)}"-->
        <!--class="br-top-2 select-operation has-border-bottom notify"-->
        <!--ng-click="goBatchNotify();">-->
        <!--<span>通知</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; 已办事项 &ndash;&gt;-->
        <!--<div class="hec-bottom-content-div fill-width hec-bottom-for-done" ng-if="config.isDone==true">-->
        <!--<div class="hec-bottom-buttons-wrapper fill-parent">-->
        <!--<div class="hec-bottom-buttons fill-parent">-->
        <!--<div class="hec-bottom-buttons-inner fill-parent">-->
        <!--<div class="select-operation notify" ng-click="goBatchNotify();"-->
        <!--style="background: #387ef5;border-right: none;color: #fff;">-->
        <!--&lt;!&ndash;i class="icon operation-icon operation-icon-notify ion-ios-bell-outline"></i&ndash;&gt;-->
        <!--<span>通知</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<style>-->
        <!--textarea.reject-textarea-comment::-webkit-input-placeholder {-->
        <!--color: #FFAEAE;-->
        <!--}-->

        <!--textarea.reject-textarea-comment:-ms-input-placeholder {-->
        <!--color: #FFAEAE;-->
        <!--}-->

        <!--textarea.reject-textarea-comment:-moz-placeholder {-->
        <!--color: #FFAEAE;-->
        <!--}-->

        <!--textarea.reject-textarea-comment::-moz-placeholder {-->
        <!--color: #FFAEAE;-->
        <!--}-->
        <!--</style>-->
        <!--<style>-->
        <!--.handle-loading-tip {-->
        <!--width: 100%;-->
        <!--height: 100%;-->
        <!--display: table;-->

        <!--}-->

        <!--.handle-loading-tip span {-->
        <!--display: table-cell;-->
        <!--vertical-align: middle;-->
        <!--text-align: center;-->
        <!--}-->
        <!--</style>-->

        <!--</div>-->
    </ion-content>
</ion-view>