<div id="hecui-select-loading" ng-controller="WflSelectController" cound-hide ng-click="hideLoading($event);"> 
	<div class="hecui-select-items" cound-hide>
		<div class="hecui-select-items-inner padding">
			<div class="hecui-select-item" ng-class="{'last':(($index+1)==config.select_priority.length),'first':($index==0)}" ng-repeat="item in config.select_priority">
				<div class="hecui-select-item-inner fill-parent" ng-click="selectPriority(item)">
					<div class="hecui-select-item-show">
						{{item.value}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--div id="select-priority-loading" ng-controller="WflSelectController" cound-hide ng-click="hideLoading($event);">
	<div class="priorities">
		<div class="priorities-inner padding">
			<div class="priority" ng-class="{'last':(($index+1)==config.select_priority.length),'first':($index==0)}" ng-repeat="item in config.select_priority">
				<div class="priority-inner fill-parent" ng-click="selectPriority(item)">
					<div class="priority-show">
						{{item.value}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div-->