<ion-view view-title="{{config.viewTitle}}" hide-back-button="false" cache-view="true"
          ng-controller="TodoDoneCategoryCtrl" hide-nav-bar="false">
    <ion-content id="wfl-category-tododone-content" scroll="false">
        <div class="top-image fill-width" style="height: auto">
            <img class="fill-parent" src="images/weixin/list_category_02.png"/>
        </div>
        <div class="category-select fill-width" style="margin-top:1.0em">
            <div class="category-lines fill-width">
                <div class="row" ng-repeat="item in config.categories" ng-click="goListPage(item);">
                    <div class="col col-10" style="padding: 5px">
                        <div class="col-demo col-offset-10"><img src="{{item.img_src}}" class="ini"/></div>
                    </div>
                    <div class="col col-80" style="padding:5px">
                        <div class="ccol-demo col-offset-5">{{item.category_desc}}</div>
                    </div>
                    <div class="col col-10" style="border-bottom: 1px solid #f4f4f4;padding-top: 3%">
                        <div class="col-demo col-offset-25"><img src="images/weixin/arrow_right.png"/></div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .queryAll {
                margin-top: 1em;
                margin-left: 0.6em;
                margin-right: 0.6em;
                height: 3em;
                background-color: #ffc107;
                border-radius: 5px;
                color: white;
                text-align: center;
                line-height: 3em;
                box-shadow: 0 1px 3px rgba(196, 21, 28, .8);
            }

            img.ini {
                width: 96%;
                margin-top: 25%;
            }

            .category-select.fill-width {
                background-color: white;
            }

            .col.col-80 {
                border-bottom: 1px solid #f4f4f4;
            }

            .ccol-demo.col-offset-5.ng-binding {
                margin-top: 3%;
            }

            /*.col.col-10 {*/
            /*border-bottom: 1px solid #f4f4f4;*/
            /*}*/
            .ccol-demo.col-offset-5.ng-binding {

            /*font-weight: bold;*/
            /*}*/
            /*.row {*/
            /*height: 146%;*/
            /*}*/
            .fill-width {
                width: 100%;
                height: 25.25%;
            }

            element.style {
                margin-top: 0.8em;
            }
        </style>
        <div ng-click="allGoListPage();" class="queryAll">
            查看全部
        </div>
    </ion-content>
</ion-view> 

