<div class="news-list height450">
    <div class="panel panel-default">
        <div class="panel-heading">{{newsPanel.title}}</div>
        <div class="panel-body height350">
            <ul id="newsTab" class="nav nav-tabs">
                <li ng-class="{true:'active',false:''}[$index == 0]" ng-repeat="newsCategory in newsPanel.newsCategories">
                    <a data-toggle="tab" href="#{{newsCategory.code}}">{{newsCategory.desc}}</a>
                </li>
            </ul>
            <div id="newsTabContent" class="tab-content height300">
                <div id="newsCategory.code" class="tab-pane fade" ng-class="{true:'in active',false:''}[$index == 0]" ng-repeat="newsCategory in newsPanel.newsCategories">
                    <ul class="height250">
                        <li ng-repeat="news in newsCategory.newsList">
                            <div class="news-container" title="{{news.title}}">
                                <a href="system001_news.screen?news_id={{news.news_id}}">
                                    <div class="news-title">
                                        {{news.title}}
                                    </div>
                                    <div class="news-date">
                                        {{news.date}}
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <div class="news-more">
                        <a href="system001_news_more.screen">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-transclude/>
</div>