<div style="height:{{newsMorePanelHeight}}px">
    <table class="news-more-list table table-hover">
        <tr>
            <th class="news-more-list-important-level">
                重要性
            </th>
            <th class="news-more-list-title">
                标题
            </th>
            <th class="news-more-list-author">
                作者
            </th>
            <th class="news-more-list-date">
                日期
            </th>
        </tr>
        <tr ng-repeat="news in newsInfo.newsArray">
            <td class="news-more-list-important-level">
                <span class="label" ng-class="{'top':'label-important','essence':'label-warning'}[news.importantLevel]">{{news.importantLevel == 'top' ? '置顶' : (news.importantLevel == 'essence' ? '精华' : '')}}</span>
            </td>
            <td class="news-more-list-title">
                <a href="{{news.url}}">
                    {{news.title}}
                </a>
            </td>
            <td class="news-more-list-author">
                {{news.author}}
            </td>
            <td class="news-more-list-date">
                {{news.date}}
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="span12">
        <div class="pagination">
            <ul>
                <li ng-class="{true:'disabled',false:''}[newsInfo.pageInfo.isFirst === true]">
                    <a ng-href="{{getPreUrl()}}">上一页</a>
                </li>
                <li ng-class="{true:'active',false:''}[pageIndex.isCurrent === true]" ng-repeat="pageIndex in newsInfo.pageInfo.pageIndexArray">
                    <a ng-href="{{pageIndex.isCurrent === true ? '' : (window.location.href.replace('\&page_index=\d+','') + '&page_index=' + pageIndex.index)}}">{{pageIndex.index}}</a>
                </li>
                <li ng-class="{true:'disabled',false:''}[newsInfo.pageInfo.isLast === true]">
                    <a ng-href="{{getNextUrl()}}">下一页</a>
                </li>
            </ul>
        </div>
    </div>
</div>