<div class="height450">
    <div class="panel panel-default">
        <div class="panel-heading">{{notifylistPanel.title}}</div>
        <div class="panel-body height350 table-responsive">
            <table class="table table-hover notify-list">
                <tr>
                    <th>单据编号</th>
                    <th>通知人</th>
                    <th>通知信息</th>
                </tr>
                <tr ng-repeat="notifyItem in notifylistPanel.notifyList">
                    <td>
                        <div class="notify-list-doc-num" title="{{notifyItem.doc_num}}">
                            <a href="../modules/wfl/public/workflownotification.screen?instance_id={{notifyItem.instance_id}}" target="_blank">{{notifyItem.doc_num}}</a></div>
                    </td>
                    <td>
                        <div class="notify-list-notified-by" title="{{notifyItem.notified_by}}">{{notifyItem.notified_by}}</div>
                    </td>
                    <td>
                        <div class="notify-list-notify-message" title="{{notifyItem.notify_message}}">{{notifyItem.notify_message}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>