<div id="{{rollingPanel.rollingId}}" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#{{rollingPanel.rollingId}}" data-slide-to="{{$index}}"
            ng-repeat="rollingItem in rollingPanel.rollingItems"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item" ng-repeat="rollingItem in rollingPanel.rollingItems">
            <img ng-src="../images/ptl/{{rollingItem.image_name}}" alt="">

            <div class="carousel-caption">
                <p>{{rollingItem.author}}&nbsp;{{rollingItem.date}}</p>
                <h4>{{rollingItem.title}}</h4>

                <p>{{rollingItem.desc}}</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" ng-href="#{{rollingPanel.rollingId}}" data-slide="prev">‹</a>
    <a class="right carousel-control" ng-href="#{{rollingPanel.rollingId}}" data-slide="next">›</a>
</div>