<div class="shortcut-list height450">
    <div class="panel panel-default">
        <div class="panel-heading">{{shortcutPanel.title}}</div>
        <div class="panel-body height350">
            <div class="shortcut-container" ng-repeat="shortcut in shortcutPanel.shortcuts">
                <div class="shortcut-icon" ng-style="{'background-image':'url(../images/ptl/' + shortcut.imageName + ')'}"></div>
                <a href="../{{shortcut.url}}" target="_blank">
                    <div class="shortcut-title">{{shortcut.title}}</div>
                </a>
            </div>
        </div>
    </div>
</div>