<div class="height450">
    <div class="panel panel-default">
        <div class="panel-heading">{{todolistPanel.title}}</div>
        <div class="panel-body height350 table-responsive">
            <table class="table table-hover todo-list">
                <tr>
                    <th>单据编号</th>
                    <th>申请人</th>
                    <th>单据金额</th>
                    <th>申请日期</th>
                    <th>业务类型</th>
                    <th>单据类型</th>
                    <th>所在节点</th>
                    <th>无意见通过</th>
                </tr>
                <tr ng-repeat="todoItem in todolistPanel.todolist">
                    <td>
                        <div class="todo-list-doc-num" title="{{todoItem.doc_num}}"></div><a href="../modules/wfl/public/workflowapprove.screen?record_id={{todoItem.recipient_id}}&instance_id={{todoItem.instance_id}}" target="_blank">{{todoItem.doc_num}}</a></td>
                    </td>
                    <td><div class="todo-list-doc-node" title="{{todoItem.doc_node}}">{{todoItem.doc_node}}</div></td>
                    <td><div class="todo-list-employee" title="{{todoItem.employee}}">{{todoItem.employee}}</div></td>
                    <td><div class="todo-list-doc-amount" title="{{todoItem.doc_amount}}">{{todoItem.doc_amount}}</div></td>
                    <td><div class="todo-list-submit-date" title="{{todoItem.submit_date}}">{{todoItem.submit_date}}</div></td>
                    <td><div class="todo-list-doc-category" title="{{todoItem.doc_category}}">{{todoItem.doc_category}}</div></td>
                    <td><div class="todo-list-doc-type" title="{{todoItem.doc_type}}">{{todoItem.doc_type}}</div></td>
                    <td>
                        <div class="todo-list-confirm"><button class="btn btn-small btn-default" ng-click="approveWithoutOpinion(todoItem.instance_id)">无意见通过</button></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>