<ion-view id="wfl-add-approver-view" view-title="选择员工" ng-controller="UserSelectController" hide-nav-bar="false"
          hide-back-button="false" cache-view="false" class="empSelcect">
    <ion-content scroll="false">
        <style>
            .empSelcect .search {
                padding: 22px;
            }

            .empSelcect .searchI {
                font-size: 1.3em;
            }

            .empSelcect .searchForm {
                padding-top: 3px;
            }

            .empSelcect .cancelButton {
                background-color: #EBEBEB;
                border-color: #EBEBEB;
                color: #040407;
                font-size: 15px;
            }

            .empSelcect .sureButton {
                background-color: #2196F3;
                color: white;
                font-size: 15px;
            }

            /*.empSelcect .contentMargin {*/
            /*margin-top: 10px;*/
            /*}*/

            .empSelcect #hec-wfl-add-users .user-info {
                border-bottom: 0;
                width: 70%;
            }

            .empSelcect #hec-wfl-add-users .user-info-wrapper {
                display: table;
                border-bottom: 1px solid #EFEBE9;
            }

            .header-search {
                width: 100%;
                background-color: #f5f5f5;
                border: 1px solid #e3e0e0;
                padding: 0.5rem;
                z-index: 3;
            }

            .input-search {
                width: 100%;
                height: 2.375rem;
                padding: 0.375rem;
                font-size: 0.875rem;
                line-height: 1.42857143;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #e3e0e0;
                border-left: none;
                border-radius: 0 0.375rem 0.375rem 0;
                -webkit-appearance: none;
            }

            .input-left {
                padding: 0.25rem 0 0.25rem 0.5rem;
                font-size: 1.75rem;
                color: #555;
                text-align: center;
                background-color: #fff;
                border: 1px solid #e3e0e0;
                border-right: none;
                border-radius: 0.375rem 0 0 0.375rem;
                height: 2.375rem;
            }

            .checkbox input {
                position: relative;
                top: 0.25rem;
                width: 1.5rem;
                height: 1.5rem;
                float: right;
            }

            .checkbox input:checked:before {
                background: #ffc107;
                border-color: #ffc107;
            }
            .user-info-wrapper{
                width: 100%;
            }
            .user-info-wrapper .user-select{
                text-align: right;                
                padding-right: 5px;
            }
        </style>
        <div class="wfl-add-approver-content fill-parent">
            <div class="row header-search" style="height: 56px;">
                <div class="input-left" style="width: 12%;"><i class="ion-ios-search"></i></div>
                <div style="width: 88%;">
                    <input class="input-search" placeholder="输入用户名搜索" ng-model="config.queryStr"
                           ng-keyup="searchInputOnKeyup($event);"/>
                </div>
            </div>
            <!--<div class="query-content">-->
            <!--<div class="query-line">-->
            <!--<div class="query-line-inner">-->
            <!--<label class="hec-query-item item item-input search">-->
            <!--<i class="icon ion-ios-search searchI"></i>-->
            <!--&lt;!&ndash; onsubmit="javascript:queryUser();" action="javascript:queryUser();" &ndash;&gt;-->
            <!--<form id="search_user" name="search_user" class="searchForm">-->
            <!--<input class="hec-query-search-input" type="text" ng-model="config.queryStr"-->
            <!--placeholder="输入用户名搜索" ng-keyup="searchInputOnKeyup($event);">-->
            <!--&lt;!&ndash;  ng-keyup="searchInputOnKeypress(event, $event);"  onkeyup="alert(JSON.stringify(event));" &ndash;&gt;-->
            <!--</form>-->
            <!--</label>-->
            <!--</div>-->
            <!--&lt;!&ndash;div class="button" ng-click="queryUser();">搜索</div&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->

            <div id="hec-wfl-add-users" class="fill-width" style="height: 100%;padding-bottom: 3.5rem;">
                <div class="users-isloading fill-width" ng-if="config.status_loading">
                    <ion-spinner icon="ios-small" class="users-loading-spinner"
                                 style="margin-right:1rem;"></ion-spinner>
                    <span class="loading-text">正在加载</span>
                </div>
                <div class="users-loaded-nodata fill-width"
                     ng-if="config.status_loaded && (!config.users || config.users.length ==0)"
                     style="margin-top:1rem;color:#ADA4A4;;">
                    无匹配用户
                </div>
                <ion-scroll scrollbar-y="false" class="fill-parent contentMargin" has-bouncing="true"
                            ng-if="config.status_loaded && config.users && config.users.length>0">
                    <div class="user-info-item" ng-repeat="user in config.users"
                         ng-class="{'cannot-selected-second':(user.cannotSelectSecond)}">
                        <div class="user-info-wrapper" ng-click="selectUser($index);">
                            <div class="user-info">
                                {{user.exp_emp_name}}&nbsp;&nbsp;:&nbsp;&nbsp;{{user.exp_emp_org_info}}
                            </div>
                            <div class="user-select">
                                <label class="checkbox">
                                    <input type="checkbox" ng-disabled="user.cannotSelectSecond" name="abcboren"
                                           ng-checked="user.selected">
                                </label>
                            </div>
                        </div>
                    </div>
                </ion-scroll>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar id="hec-wfl-handle-footer" align-title="center" class="">
        <div class="buttons fill-parent">
            <button ng-click="cancel();" class="button button-block cancelButton">取&nbsp;&nbsp;消
            </button>
            <button ng-disabled="showOkBtn();" ng-click="selectOk();"
                    class="button button-block button-calm sureButton">确&nbsp;&nbsp;定
            </button>
        </div>
    </ion-footer-bar>
</ion-view>