<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hzero.train.order.infra.mapper.HodrSoHeaderMapper">
    <select id="queryByCodition" resultType="org.hzero.train.order.domain.entity.HodrSoHeader">
        SELECT DISTINCT
            hsh.company_id,
            hsh.customer_id,
            hsh.order_date,
            hsh.order_number,
            hsh.created_by,
            hsh.creation_date,
            hsh.last_update_date,
            hsh.last_updated_by,
            hsh.object_version_number,
            hsh.order_status,
            hsh.so_header_id id,
            vline.order_amount,
            hcm.company_name,
            hcs.customer_name
        FROM
            hodr_so_header hsh,
            hodr_company hcm,
            hodr_customer hcs,
            ( SELECT hsl.so_header_id, sum( hsl.order_quantity * hsl.unit_selling_price ) order_amount FROM hodr_so_line hsl GROUP BY hsl.so_header_id ) vline
        WHERE
            hcm.company_id = hsh.company_id
            AND hcs.customer_id = hsh.customer_id
            AND vline.so_header_id = hsh.so_header_id
            <if test="companyId!=null">
                and hsh.company_id = #{companyId}
            </if>
            <if test="customerId!=null">
                AND hsh.customer_id = #{customerId}
            </if>
            <if test="orderNumber!=null and orderNumber!=''">
                AND hsh.order_number LIKE concat( concat( '%', #{orderNumber}, '%' ) )
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                AND hsh.order_status = #{orderStatus}
            </if>
            <if test="headerId!=null">
                AND hsh.so_header_id = #{headerId}
            </if>
            <if test="itemId!=null">
                AND EXISTS(
                select 1 from hodr_so_line l
                where l.item_id=#{itemId}
                and l.so_header_id=hsh.so_header_id)
            </if>
    </select>



    <select id="exportHordOrder" resultType="org.hzero.train.order.api.dto.HodrExportDto">
        SELECT
            hsh.so_header_id id,
            vline.order_amount,
            line.line_amount,
            line.order_quantity,
            line.unit_selling_price,
            hsh.company_id,
            hsh.customer_id,
            hsh.order_date,
            hsh.order_number,
            hsh.created_by,
            hsh.creation_date,
            hsh.last_update_date,
            hsh.last_updated_by,
            hsh.object_version_number,
            hcm.company_name,
            hcs.customer_name,
            line.line_number,
            line.item_code,
            line.item_description,
            line.order_quantity_uom,
            line.description,
            hfpl.meaning order_status
        FROM
            hodr_so_header hsh,
            hodr_company hcm,
            hodr_customer hcs,
            hzero_platform.hpfm_lov_value hfpl,
            ( SELECT hsl.so_header_id, sum( hsl.order_quantity * hsl.unit_selling_price ) order_amount FROM hodr_so_line hsl GROUP BY hsl.so_header_id ) vline,
            (
            SELECT
                hsl.created_by,
                hsl.creation_date,
                hsl.description,
                hsl.item_id,
                hsl.last_update_date,
                hsl.last_updated_by,
                hsl.line_number,
                hsl.unit_selling_price,
                hsl.so_line_id id,
                hsl.so_header_id,
                hsl.order_quantity_uom,
                hsl.order_quantity,
                hsl.object_version_number,
                hi.item_description,
                hi.item_code,
                ( hsl.unit_selling_price * hsl.order_quantity ) line_amount
            FROM
                hodr_so_line hsl,
                hodr_item hi
            WHERE
                hi.item_id = hsl.item_id
            ) line
        WHERE
            hcm.company_id = hsh.company_id
            AND hcs.customer_id = hsh.customer_id
            AND vline.so_header_id = hsh.so_header_id
            AND line.so_header_id = vline.so_header_id
            and hfpl.lov_code=#{params}
		    and hfpl.value=hsh.order_status
    </select>


    <select id="queryByCond" resultType="org.hzero.train.order.domain.entity.HodrSoHeader">
        SELECT
            *
        FROM
	        hodr_so_header hsh
	    <where>
            <if test="companyId!=null">
                and hsh.company_id = #{companyId}
            </if>
            <if test="orderNumber!=null and orderNumber!=''">
                and hsh.order_number = #{orderNumber}
            </if>
            <if test="orderStatus!=null and orderStatus!=''">
                and hsh.order_status = #{orderStatus}
            </if>
        </where>
    </select>

</mapper>