<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hzero.train.order.infra.mapper.HodrSoLineMapper">
    <select id="getMaxLineNumber" resultType="java.lang.Integer">
        SELECT
            max( hsl.line_number )
        FROM
            hodr_so_line hsl
        WHERE
            ( so_header_id = #{headerId} )
    </select>


    <select id="getLineByHeaderId" resultType="org.hzero.train.order.domain.entity.HodrSoLine">
        SELECT
            hsl.created_by,
            hsl.creation_date,
            hsl.description,
            hsl.item_id,
            hsl.last_update_date,
            hsl.last_updated_by,
            hsl.line_number,
            hsl.unit_selling_price,
            hsl.so_line_id id,
            hsl.so_header_id,
            hsl.order_quantity_uom,
            hsl.order_quantity,
            hsl.object_version_number,
            hi.item_description,
            hi.item_code,
            (hsl.unit_selling_price*hsl.order_quantity) line_amount
        FROM
            hodr_so_line hsl,hodr_item hi
        WHERE
            hi.item_id=hsl.item_id
            and hsl.so_header_id =#{headerId}
    </select>
</mapper>