<ion-scroll has-bouncing="false">
    <div class="nine-block-container">
        <div class="nine-block" ng-click="goState(item.fun_url);" ng-repeat="item in nineBlockData">
            <div class="image-wrapper">
                <span style="display:inline-block;width:50px;height:50px;font-size:35px;" class="icon" ng-class="item.fun_icon"></span>
            </div>
            <div class="title">
                {{item.fun_name}}
            </div>
        </div>
    </div>
</ion-scroll>