<application-config xmlns="aurora.application" enableBMTrace="true">
	<application-view-config defaultPackage="ui.template" defaultTheme="hls" defaultAutoAdjustGrid="false" defaultclientresize="false" defaultTemplate="default" defaultTitle="建信人寿费用控制系统" resourceCachename="SystemResourceConfig"/>
</application-config>