<participant-manager xmlns="uncertain.event">
	<participant-list category="service">
		<participant class="aurora.service.json.JSONServiceInterpreter" />
		<!--<participant class="aurora.plugin.export.ModelOutput" />-->
		<participant class="aurora.plugin.export.ModelOutput" />
		<participant class="aurora.application.features.cstm.ConfigCustomizationListener" />
        <participant class="aurora.application.action.DoDispatch"/>
        <participant class="aurora.application.features.DataSetInit"/>
        <participant class="aurora.application.features.CachedScreenListener"/>
		<participant class="aurora.application.features.UploadInit"/>
		<participant class="aurora.service.lock.SessionLockChecker"/>
		<!--<participant class="aurora.application.features.RequestRecorder"/>-->
		<participant class="aurora.security.AccessCheck"/>
		<!--<participant class="aurora.service.ws.SOAPServiceInterpreter"/>-->
	</participant-list>	
</participant-manager>