<?xml version="1.0" encoding="UTF-8"?>
<p:procedure-registry xmlns:t="aurora.application.action" xmlns:a="http://www.aurora-framework.org/application" xmlns:p="uncertain.proc">
    <p:procedures>
        <p:procedure name="pre-service">
            <p:set field="@success" value="true"/>
             <!--域验证                   
            	<a:ntlm-login/>                     
            -->   
            <t:session-copy/>
            <p:switch test="/cookie/@touch_client/@value">
                 <!--<p:case Value="1">  
                 	<a:device-type-init />
                    <a:put-cookie name="touch_client" value="1" maxAge="2592000"/>
                 	<p:switch test="/session/@session_id">
                 		<p:case Value="null">                 			              			
                 			<a:session-clear/>
					        <a:model-execute model="mobile.login.sys_user_auto_login_with_userid"/>
					        <a:session-write source="/session"/> 		              			
                 		</p:case>
                 		<p:case>
                 			<p:set field="/parameter/@mobile_auto_status" value="SUCCESS"/>
                 		</p:case>
                	</p:switch>
                    <t:check-dispatch dispatchUrl="${/request/@context_path}/modules/touch/login.screen" field="/parameter/@mobile_auto_status" value="FAILED"/>
                </p:case>-->
                <p:case>
                    <p:switch test="@is_autocrud_service">
                        <p:case Value="true">
                            <t:bm-access-check errorMessage="没有权限访问，或登录已失效"/>
                        </p:case>
                        <p:case>
                            <t:resource-access-check resultPath="/access-check/@status_code" errorMessage="登录已失效，请重新登录"/>
                        </p:case>
                    </p:switch>
                    <t:check-dispatch dispatchUrl="${/request/@context_path}/error_screen_unregistered.screen" field="/access-check/@status_code" message="页面没有注册" value="unregistered"/>
                    <t:check-dispatch dispatchUrl="${/request/@context_path}/error_screen_unauthorized.screen" field="/access-check/@status_code" message="没有权限访问指定的页面" value="unauthorized"/>
                    <t:check-dispatch dispatchUrl="${/request/@context_path}/error_session_expired.screen" field="/access-check/@status_code" message="登录已失效，请重新登录" value="login_required"/>
                    <p:action Name="AccessCheck" />
                </p:case>          
			</p:switch>
        </p:procedure>
        <p:procedure name="application-start">
        </p:procedure>
        <p:procedure name="session-destroy">
            <a:model-update model="sys.sys_expire_session"/>
        </p:procedure>
    </p:procedures>
</p:procedure-registry>
