<ws:SOAPConfiguration xmlns:ws="aurora.service.ws" model="sys.WS.sys_web_services_for_query">
	<soapResponse>         
		<SynStatus>${@status}</SynStatus>         
		<ErrorCode>${@message}</ErrorCode>
		<ErrorMessage>${@message}</ErrorMessage>
		<result>${/parameter/@result}</result>				
	</soapResponse>
</ws:SOAPConfiguration>