<task:TaskHandler xmlns:task="aurora.application.task" threadCount="4" oldTaskBM="db.sys_tasks_pkg.reset_unfinished_task_status" fetchTaskBM="db.sys_tasks_pkg.get_task_with_count" updateTaskBM="db.sys_tasks_pkg.update_task_running_status"  finishTaskBM="db.sys_tasks_pkg.finish_task">
</task:TaskHandler>
