<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.infra.mapper.CompanyMapper">
        <!-- 可根据自己的需求，是否要使用 -->
        <resultMap id="BaseResultMap" type="com.hand.domain.entity.Company">
            <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
            <result column="company_number" property="companyNumber" jdbcType="VARCHAR"/>
            <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
            <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
            <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
            <result column="creation_date" property="creationDate" jdbcType="DATE"/>
            <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
            <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
            <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        </resultMap>
    <select id="getCompany" resultType="com.hand.domain.entity.Company">
        select * from hodr_company where company_id = #{companyId}
    </select>
    <select id="selectCompany" resultType="com.hand.domain.entity.Company">
        select company_number,company_name from hodr_company
        <where>
            <if test="companyNumber != null and companyNumber != ''">
                company_number = #{companyNumber}
            </if>
            <if test="companyName != null and companyName != ''">
                <!--                <bind name="companyNameLike" value="'%' + companyName + '%'" />-->
                and company_name like '%${companyName}%'
            </if>
        </where>

    </select>

<!--    <select id="queryCompany" resultType="com.hand.domain.entity.Company">-->
<!--        select-->
<!--        company_id,-->
<!--        company_number,-->
<!--        company_name,-->
<!--        enabled_flag,-->
<!--        object_version_number,-->
<!--        creation_date,-->
<!--        created_by,-->
<!--        last_updated_by,-->
<!--        last_update_date-->
<!--        from hodr_company where-->
<!--        company_number = #{companyNumber}-->
<!--        and company_name = #{companyName}-->
<!--        and enabled_flag = #{enabledFlag}-->
<!--    </select>-->

<!--    <select id="getCompanyByName" resultType="com.hand.domain.entity.Company">-->
<!--        select-->
<!--        company_id,-->
<!--        company_number,-->
<!--        company_name,-->
<!--        enabled_flag,-->
<!--        object_version_number,-->
<!--        creation_date,-->
<!--        created_by,-->
<!--        last_updated_by,-->
<!--        last_update_date-->
<!--        from hodr_company-->
<!--        where company_name = #{companyName}-->
<!--    </select>-->

    <select id="getCompanyByNumber" resultType="com.hand.domain.entity.Company">
        select
        company_id,
        company_number,
        company_name
        from hodr_company
        <where>
            <if test="companyNumber != null and companyNumber != ''">
                and company_number like '%${companyNumber}%'
            </if>
            <if test="companyName != null and companyName != ''">
                and company_name like '%${companyName}%'
            </if>
        </where>
    </select>

    <select id="selectByNumber" resultType="com.hand.domain.entity.Company">
        select company_id from hodr_company where company_number = #{companyNumber}
    </select>



<!--    <select id="selectCompanyByNumber" resultType="com.hand.domain.entity.Company">-->
<!--        select company_id from hodr_company-->
<!--        <where>-->
<!--            <if test="companyNumber != null and companyNumber != ''">-->
<!--                and company_number = #{companyNumber}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
</mapper>