<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.infra.mapper.CustomerMapper">
    	<!-- 可根据自己的需求，是否要使用 -->
        <resultMap id="BaseResultMap" type="com.hand.domain.entity.Customer">
            <result column="customer_id" property="customerId" jdbcType="DECIMAL"/>
            <result column="customer_number" property="customerNumber" jdbcType="VARCHAR"/>
            <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
            <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
            <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
            <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
            <result column="creation_date" property="creationDate" jdbcType="DATE"/>
            <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
            <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
            <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        </resultMap>
    <select id="selectCustomer" resultType="com.hand.domain.entity.Customer">
        select customer_id,customer_name from hodr_customer
        <where>
            <if test="customerName != null and customerName != ''">
                <bind name="customerNameLike" value="'%' + customerName + '%'"/>
                and customer_name like #{customerNameLike}
            </if>
        </where>
    </select>

    <select id="selectCustomerByNumber" resultType="com.hand.domain.entity.Customer">
        select customer_id from hodr_customer where customer_number = #{customerNumber}
    </select>

</mapper>