<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.infra.mapper.ExportMapper">
    <select id="exportOrder" resultType="com.hand.domain.DTO.OrderDTO">
        SELECT
        hsh.order_number ,
        hc.company_name ,
        hcr.customer_name ,
        hsh.order_date ,
        hsh.order_status ,
        sum(hsl.order_quantity * hsl.unit_selling_price) ,
        hsl.line_number ,
        hi.item_code ,
        hi.item_description ,
        hi.item_uom ,
        hsl.order_quantity ,
        hsl.unit_selling_price ,
        hsl.order_quantity * hsl.unit_selling_price
        FROM
        hodr_so_header hsh,
        hodr_company hc,
        hodr_customer hcr,
        hodr_item hi,
        hodr_so_line hsl
        WHERE
        hsh.company_id = hc.company_id
        and hsh.customer_id = hcr.customer_id
        and hsh.so_header_id = hsl.so_header_id
        and hsl.item_id = hi.item_id
        <if test="companyName!=null and companyName!=''">
            and hc.company_name=#{companyName}
        </if>
        <if test="customerName!=null and customerName!=''">
            and customer_name=#{customerName}
        </if>
        <if test="orderNumber!=null and orderNumber!=''">
            and order_number=#{orderNumber}
        </if>
        <if test="itemCode!=null and itemCode!=''">
            and item_code=#{itemCode}
        </if>
        <if test="orderStatus!=null and orderStatus!=''">
            and order_status=#{orderStatus}
        </if>
        GROUP BY
        hsh.order_number,
        hc.company_name ,
        hcr.customer_name,
        hsh.order_date,
        hsh.order_status,
        hsl.line_number,
        hi.item_code,
        hi.item_description,
        hi.item_uom,
        hsl.order_quantity,
        hsl.unit_selling_price
    </select>
</mapper>