<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.infra.mapper.ItemMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="com.hand.domain.entity.Item">
        <result column="item_id" property="itemId" jdbcType="DECIMAL"/>
        <result column="item_code" property="itemCode" jdbcType="VARCHAR"/>
        <result column="item_uom" property="itemUom" jdbcType="VARCHAR"/>
        <result column="item_description" property="itemDescription" jdbcType="VARCHAR"/>
        <result column="saleable_flag" property="saleableFlag" jdbcType="DECIMAL"/>
        <result column="start_active_date" property="startActiveDate" jdbcType="DATE"/>
        <result column="end_active_date" property="endActiveDate" jdbcType="DATE"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
    </resultMap>
    <select id="selectItem" resultType="com.hand.domain.entity.Item">
        select item_code,item_description from hodr_item
        <where>
            <if test="itemCode != null and itemCode != ''">
                and item_code = #{itemCode}
            </if>
            <if test="itemDescription != null and itemDescription != ''">
                <bind name="itemDescriptionLike" value="'%' + itemDescription + '%'"/>
                and item_description like #{itemDescriptionLike}
            </if>
        </where>


    </select>

    <select id="selectItemByCode" resultType="com.hand.domain.entity.Item">
        select item_id from hodr_item where item_code = #{itemCode}

    </select>
</mapper>