<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.infra.mapper.SoLineMapper">
    <!--	&lt;!&ndash; 可根据自己的需求，是否要使用 &ndash;&gt;-->
    <!--    <resultMap id="BaseResultMap" type="com.hand.domain.entity.SoLine">-->
    <!--        <result column="so_line_id" property="soLineId" jdbcType="DECIMAL"/>-->
    <!--        <result column="so_header_id" property="soHeaderId" jdbcType="DECIMAL"/>-->
    <!--        <result column="line_number" property="lineNumber" jdbcType="DECIMAL"/>-->
    <!--        <result column="item_id" property="itemId" jdbcType="DECIMAL"/>-->
    <!--        <result column="order_quantity" property="orderQuantity" jdbcType="DECIMAL"/>-->
    <!--        <result column="order_quantity_uom" property="orderQuantityUom" jdbcType="VARCHAR"/>-->
    <!--        <result column="unit_selling_price" property="unitSellingPrice" jdbcType="DECIMAL"/>-->
    <!--        <result column="description" property="description" jdbcType="VARCHAR"/>-->
    <!--        <result column="addition1" property="addition1" jdbcType="VARCHAR"/>-->
    <!--        <result column="addition2" property="addition2" jdbcType="VARCHAR"/>-->
    <!--        <result column="addition3" property="addition3" jdbcType="VARCHAR"/>-->
    <!--        <result column="addition4" property="addition4" jdbcType="VARCHAR"/>-->
    <!--        <result column="addition5" property="addition5" jdbcType="VARCHAR"/>-->
    <!--        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>-->
    <!--        <result column="creation_date" property="creationDate" jdbcType="DATE"/>-->
    <!--        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>-->
    <!--        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>-->
    <!--        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>-->
    <!--    </resultMap>-->
    <insert id="insertLine" parameterType="com.hand.domain.entity.SoLine">
        insert into hodr_so_line
        (
        so_header_id,
        line_number,
        item_id,
        order_quantity,
        order_quantity_uom,
        unit_selling_price)
        values
        (
        #{soHeaderId},
        #{lineNumber},
        #{itemId},
        #{orderQuantity},
        #{orderQuantityUom},
        #{unitSellingPrice}
        )
    </insert>
</mapper>