<ion-view view-title="{{config.viewTitle}}" class="hec-wfl-handle-page-class" id="hec-wfl-handle-page" hide-nav-bar="false" hide-back-button="false" cache-view="true" ng-controller="WflHandleController">
    
    <ion-nav-buttons side="right" style="background-color: #c4151c">
        <div ng-disabled="true" class="hec-circl-button wfl_select_button" style="background-color: #c4151c;">
            <span ng-if="showHandleSelectCount();" style="background-color: #c4151c;color: #fff;">{{config.insidNodeidArray.length}}</span>
        </div>
    </ion-nav-buttons>
    <style>
        .handle-loading-tip {
            width: 100%;
            height: 100%;
            display: table;
        }

        .handle-loading-tip span {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        button.button.button-block.button-calm.sureButton {
            background-color: #c4151c;
            border: 1px solid #c4151c;
        }
    </style>
    <ion-content id="hec-wfl-handle-page-content" class="has-footer" scroll="false">
        <div class="wfl-handle-content fill-parent">

            <div class="handle-type-tip"
                 style="height: 5%;line-height: 2rem;padding-left: 0.75rem;background: #eeedf3;color: #737272;"
                 ng-class="{'approve':(config.isApproveType),'reject':(config.isRejectType),'transfer':(config.isTransferType),'addhandler':(config.isAddHandlerType)}">
                <span>{{config.handleTip}}</span>
            </div>

            <div id="handle-approve-reject-content" ng-if="config.isApproveType || config.isRejectType"
                 style="height:94%;">
                <div class="approve-comment fill-parent">
                    <div class="approve-comment-div padding fill-parent">
                        <textarea placeholder="{{config.commentTextareaHolder}}"
                                  class="handle-comment-textarea fill-parent padding"
                                  ng-model="config.handleComment"></textarea>
                    </div>
                </div>
            </div>

            <div id="handle-notify-content" style="height:94%;width:100%;" ng-if="config.isNotifyType">

                <div class="notify-content-inner fill-parent">

                    <div class="yd-notify-textarea">
                        <textarea placeholder="{{config.commentTextareaHolder}}"
                                  class="handle-comment-textarea fill-parent padding"
                                  ng-model="config.handleComment"></textarea>
                    </div>
                    <style>
                        .yd-notify-textarea {
                            margin: .1rem 0px 1rem 0px;
                            height: 6rem;
                            padding: 3px 0px 10px 0px;
                            background-color: white;
                        }

                        .yd-notify-textarea textarea {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            border: 0px !important;
                        }
                    </style>

                    <ion-scroll class="fill-parent wfl-notify-content-users-scroll" scrollbar-y="false"
                                has-bouncing="true">
                        <div class="yd-notify-users">
                            <div class="yd4-notify-user" ng-repeat="user in config.notifyEmps">
                                <div class="yd4-left-logo">
                                    <img src="images/weixin/user_default.png" style="width: 2rem;height: 2rem;">
                                </div>
                                <div class="yd4-right-text">
                                    {{user.exp_emp_name}}
                                </div>
                                <div class="yd4-right-icon" style="line-height: 1.25rem;"
                                     ng-click="deleteNotifer($index);">
                                    <i class="icon ion-ios-close-empty" style="font-size: 2rem;"></i>
                                </div>
                            </div>
                        </div>
                        <style>
                            .yd4-notify-user {
                                display: table;
                                height: 3rem;
                                width: 100%;
                                border-bottom: 1px solid #F1F1F1;
                                background: white;
                            }

                            .yd4-right-icon {
                                display: table-cell;
                                vertical-align: middle;
                                width: 3rem;
                                padding-left: 1rem;
                                text-align: left;
                                font-size: 3rem;
                                color: #B1AFAF;
                                height: 100%;
                            }

                            .yd4-left-logo {
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                                width: 18%;
                                height: 2rem;
                                min-height: 2rem;
                                max-height: 2rem;
                            }

                            .yd4-left-logo img {
                                max-width: 100%;
                                max-height: 100%;
                                height: 100%;
                                vertical-align: middle;
                            }

                            .yd4-right-text {
                                display: table-cell;
                                vertical-align: middle;
                                text-align: left;
                            }
                        </style>

                        <div class="yd-notify-add-user-btn">
                            <div class="yd-added-user-line-btn" ng-click="goSelectUserPage();">
                                <div class="yd4-left-image">
                                    <img src="images/weixin/wfl_addhandler_adduser.png"
                                         style="width: 2rem;height: 2rem;">
                                </div>
                                <div class="yd4-center-text">
                                    添加员工
                                </div>
                                <div class="yd4-right-arrow" style="line-height: 2rem;">
                                    <i class="icon ion-ios-arrow-right" style="font-size: 1.5rem;"></i>
                                </div>
                            </div>
                            <style>
                                .yd-added-user-line-btn {
                                    display: table;
                                    width: 100%;
                                    height: 3rem;
                                    background-color: white;
                                }

                                .yd4-left-image {
                                    display: table-cell;
                                    height: 2rem;
                                    min-height: 2rem;
                                    max-height: 2rem;
                                    vertical-align: middle;
                                    width: 18%;
                                    text-align: center;
                                }

                                .yd4-left-image img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    height: 100%;
                                    vertical-align: middle;
                                }

                                .yd4-center-text {
                                    display: table-cell;
                                    height: 3rem;
                                    vertical-align: middle;
                                }

                                .yd4-right-arrow {
                                    display: table-cell;
                                    height: 3rem;
                                    line-height: 3rem;
                                    font-size: 2.5rem;
                                    color: #B1AFAF;
                                    padding-left: 1rem;
                                    width: 3rem;
                                }

                                .buttons.buttons-right {
                                    background-color: #c4151c;
                                }

                                span.right-buttons {

                                }

                            </style>
                        </div>
                    </ion-scroll>


                </div>

            </div>
            <style>
                /*
                    .notify-content-inner{
                        display: flex; 
                        flex-direction: column;
                    }
                    .yd-notify-textarea{
                        height: 6rem;
                    }
                    .wfl-notify-content-users-scroll{
                        flex: 1;
                        padding-top: .4rem;
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                    }
                */
            </style>
            
            <div id="handle-transfer-content" style="height:94%;" ng-if="config.isTransferType">
                <div class="yd-added-user-line-btn" ng-click="goSelectUserPage();" style="background: #fff;">
                    <div class="yd3-left-image">
                        <img src="images/weixin/user_default.png" style="width: 2rem;height: 2rem;">
                    </div>
                    <div class="yd3-center-text">
                        <span ng-if="!config.currentUser.exp_emp_name"
                              style="display: block;width: 100%;height: 2rem;margin-top: 0.25rem;padding: 0.25rem;font-size: 1rem;color: #999;">
                            请点击选择转交人
                        </span> 
                        <span ng-if="config.currentUser.exp_emp_name"
                              style="display: block;width: 100%;height: 2rem;margin-top: 0.25rem;padding: 0.25rem;font-size: 1rem;">
                            {{config.currentUser.exp_emp_name}}
                        </span>
                    </div>
                    <div class="yd3-right-arrow" style="line-height: 0.813rem;">
                        <i class="icon ion-ios-arrow-right" style="font-size: 1.5rem;"></i>
                    </div>
                </div>
                <div class="approve-comment fill-parent padding">
                    <div class="transfer-comment-div">
                        <textarea placeholder="{{config.commentTextareaHolder}}"
                                  class="handle-comment-textarea padding"
                                  ng-model="config.handleComment"
                                  style="height: 80%;width: 100%;border-radius: 5px;"></textarea>
                    </div>
                </div>
                <style>
                    .yd-added-user-line-btn {
                        height: 3rem;
                        width: 100%;
                        display: table;
                    }

                    .yd3-left-image {
                        display: table-cell;
                        vertical-align: middle;
                        height: 2rem;
                        width: 18%;
                        text-align: center;
                    }

                    .yd3-left-image img {
                        max-height: 100%;
                        max-width: 100%;
                        vertical-align: middle;
                    }

                    .yd3-center-text {
                        display: table-cell;
                        height: 100%;
                        vertical-align: middle;
                    }

                    .yd3-right-arrow {
                        height: 100%;
                        display: table-cell;
                        vertical-align: middle;
                        width: 3rem;
                        padding-left: 1rem;
                        font-size: 2.5rem;
                        color: #B1AFAF;
                    }
                </style>
            </div>

            <div id="handle-addhandler-content" style="height:94%;" ng-if="config.isAddHandlerType">
                <div class="add-approver-wrapper fill-parent" style="display:block !important;">
                    <div class="hecui-input-icon-line first-line" style="margin-bottom: 0.5rem;">

                        <div class="yd-add-priority-line" style="width:100%;">
                            <div class="yd-left-image">
                                <img src="images/weixin/wfl_handle_priority_icon.png"
                                     style="width: 1.25rem;height: 1.375rem;margin-top: 0.25rem;">
                            </div>
                            <div class="yd-left-text">
                                添加顺序:
                            </div>
                            <div class="yd-right">
                                <select class="none-appearance-select" name="handle-priority"
                                        ng-model="config.currentPriorityId"
                                        ng-options="value.name as value.value for value in config.select_priority">
                                    <option value=""></option>
                                    <!--option value="">平&nbsp;&nbsp;行</option>
                                    <option value="BEFORE">之&nbsp;&nbsp;前</option>
                                    <option value="AFTER">之&nbsp;&nbsp;后</option-->
                                </select>
                                <i class="icon ion-arrow-down-b"></i>
                            </div>
                            <style>
                                select.none-appearance-select {
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    appearance: none;
                                }
                            </style>

                        </div>
                        <style>
                            #hec-wfl-handle-page-content .handle-type-tip {
                                background-color: initial;
                                color: #737272;
                            }

                            #hec-wfl-handle-page-content .handle-type-tip span {
                                color: #737272;
                            }

                            .yd-add-priority-line {
                                display: table;
                                width: 100%;
                                height: 3rem;
                                background-color: white;
                            }

                            .yd-left {
                                width: 40%;
                                height: 100%;
                                display: inline-table;
                                float: left;
                            }

                            .yd-add-priority-line img {
                                max-width: 100%;
                                max-height: 1.3rem;
                                /*height: 1.3rem;*/
                            }

                            .yd-left-text, .yd-left-image {
                                display: table-cell;
                                vertical-align: middle;
                            }

                            .yd-left-image {
                                margin-right: .3rem;
                                display: table-cell;
                                width: 18%;
                                text-align: center;
                                vertical-align: middle;
                            }

                            .yd-left-text {
                                display: table-cell;
                                width: 25%;
                                vertical-align: middle;
                            }

                            .yd-right {
                                display: table-cell;
                                padding-left: .6rem;
                                vertical-align: middle;
                            }

                            .yd-right select {
                                border: 0px;
                                min-width: 3rem;
                                background-color: white !important;
                            }

                            .yd-right i.icon {
                                margin-left: -.2rem;
                            }
                        </style>
                    </div>

                    <style>
                        .add-approver-height-0 {
                            height: 3rem !important;
                        }

                        .add-approver-height-1 {
                            height: 6rem !important;
                        }

                        .add-approver-height-3 {
                            height: 9rem !important;
                        }

                        .add-approver-height-4 {
                            height: 12rem !important;
                        }

                        .add-approver-height-5 {
                            height: 15rem !important;
                        }

                        .add-approver-height-6 {
                            height: 18rem !important;
                        }

                        .add-approver-height-7 {
                            height: 21rem !important;
                        }

                        .add-approver-height-8 {
                            height: 24rem !important;
                        }

                        .add-approver-height-9 {
                            height: 24rem !important;
                        }

                        .add-approver-height-10 {
                            height: 24rem !important;
                        }

                        .add-approver-height-11 {
                            height: 24rem !important;
                        }

                        .add-approver-height-12 {
                            height: 24rem !important;
                        }

                        .add-approver-height-13 {
                            height: 24rem !important;
                        }

                        .add-approver-height-14 {
                            height: 24rem !important;
                        }

                        .add-approver-height-15 {
                            height: 24rem !important;
                        }
                    </style>
                    <div class="add-approver {{'add-approver-height-'+(config.selectedForAddHandler.length+1)}}"
                         style="max-height:88% !important; height: 3rem;flex:1; ">

                        <ion-scroll class="fill-parent" scrollbar-y="false" has-bouncing="true"
                                    style="max-height:24rem;overflow: hidden;background-color:white;">

                            <div class="yd-added-user-line-btn" ng-click="goSelectUserPage();">
                                <div class="yd3-left-image">
                                    <img src="images/weixin/wfl_addhandler_adduser.png"
                                         style="width: 2rem;height: 2rem;">
                                </div>
                                <div class="yd3-center-text">
                                    添加员工
                                </div>
                                <div class="yd3-right-arrow" style="line-height: 0.813rem;">
                                    <i class="icon ion-ios-arrow-right" style="font-size: 1.5rem;"></i>
                                </div>
                            </div>
                            <style>
                                #handle-addhandler-content .add-approver {
                                    min-height: 3rem;
                                }

                                div.add-approver {
                                    height: initial !important;
                                    min-height: 3rem !important;
                                    border: 0px !important;
                                }

                                .yd-added-user-line-btn {
                                    height: 3rem;
                                    width: 100%;
                                    display: table;
                                }

                                .yd3-left-image {
                                    display: table-cell;
                                    vertical-align: middle;
                                    height: 2rem;
                                    min-height: 2rem;
                                    max-height: 2rem;
                                    width: 18%;
                                    text-align: center;
                                }

                                .yd3-left-image img {
                                    max-height: 100%;
                                    max-width: 100%;
                                    height: 100%;
                                    vertical-align: middle;
                                }

                                .yd3-center-text {
                                    display: table-cell;
                                    height: 100%;
                                    vertical-align: middle;
                                }

                                .yd3-right-arrow {
                                    height: 100%;
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 3rem;
                                    padding-left: 1rem;
                                    font-size: 2.5rem;
                                    color: #B1AFAF;
                                }
                            </style>

                            <div class="yd-added-users">
                                <div class="yd3-added-user" ng-repeat="item in config.selectedForAddHandler">
                                    <div class="yd3-left-logo">
                                        <img src="images/weixin/user_default.png" style="width: 2rem;height: 2rem;">
                                    </div>
                                    <div class="yd3-right-text">
                                        {{item.exp_emp_name}}
                                    </div>
                                    <div class="yd3-right-icon" style="line-height: 1.25rem;"
                                         ng-click="deleteHandler($index);">
                                        <i class="icon ion-ios-close-empty" style="font-size: 2rem;"></i>
                                    </div>
                                </div>
                                <style>
                                    .yd3-right-icon {
                                        display: table-cell;
                                        vertical-align: middle;
                                        width: 3rem;
                                        padding-left: 1rem;
                                        text-align: left;
                                        font-size: 3rem;
                                        color: #B1AFAF;
                                    }

                                    .yd3-added-user {
                                        display: table;
                                        height: 3rem;
                                        max-height: 3rem;
                                        width: 100%;
                                        text-align: center;
                                        border-bottom: 1px solid #F3F3F3;
                                    }

                                    .yd3-left-logo {
                                        display: table-cell;
                                        vertical-align: middle;
                                        width: 18%;
                                        height: 2rem;
                                        min-height: 2rem;
                                        max-height: 2rem;
                                    }

                                    .yd3-left-logo img {
                                        max-width: 100%;
                                        max-height: 100%;
                                        height: 100%;
                                        vertical-align: middle;
                                    }

                                    .yd3-right-text {
                                        display: table-cell;
                                        vertical-align: middle;
                                        text-align: left;
                                    }
                                </style>
                            </div>

                        </ion-scroll>

                    </div>
                </div>
            </div>

            <style>
                /*.abc{
                    background-color: #FB7749;
                    border: 0px;
                }
                #hec-wfl-handle-page-content{
                    display: flex;
                    flex-direction: column;
                }
                #hec-wfl-handle-page-content .{

                }*/
            </style>
        </div>
    </ion-content>

    <ion-footer-bar id="hec-wfl-handle-footer" align-title="center" class="bar-assertive"
                    ng-if="!config.isAddHandlerType">
        <div class="buttons fill-parent">
            <button ng-disabled="disableBottomOkBtn();" style="background-color:#c4151c; border:0px;font-size: 1rem;"
                    ng-click="handleOperator();" class="button button-block button-calm" style="font-size: 1rem;">确&nbsp;&nbsp;定
            </button>
            <!--<button ng-click="handleCancel();" class="button button-block button-assertive">取&nbsp;&nbsp;消</button>-->
        </div>
    </ion-footer-bar>

    <ion-footer-bar id="hec-wfl-handle-footer" align-title="center" ng-if="config.isAddHandlerType">
        <div class="buttons fill-parent">
            <button ng-disabled="disableBottomOkBtn();" style="background-color:#c4151c; border:0px;font-size: 1rem;"
                    ng-click="handleOperator();" class="button button-block button-calm">确&nbsp;&nbsp;定
            </button>
        </div>
    </ion-footer-bar>

</ion-view>