<div class="hecui-nine-block-wrapper nine"
     ng-class="{'three-line':(config.nineBlockData.length==3),'four-line':(config.nineBlockData.length==4)}">
    <div class="hec-nine-block-container fill-parent" style="background-color: white;position: relative;top: -.3em;">
        <style>
            .hecui-nine-block-wrapper .hec-line-cell {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                border-right: 1px solid #E4DFDF;
                border-bottom: 1px solid #E4DFDF;
            } 
            .yd-home-count-tip {
                position: relative;
                top: -.2rem;
                left: -.2rem;
            }

            .count-waiting-tip-bg {
                background-color: transparent !important;
            }
        </style>
        <div class="hec-nine-block fill-parent">
            <div class="hec-line" ng-repeat="line in config.nineBlockData"
                 ng-class="{'first':($index==0),'last':(($index+1)==config.nineBlockData.length)}">
                <div ng-if="setLine($index)"></div>
                <div class="hec-line-cell" ng-repeat="cell in line"
                     ng-class="{'first':($index==0),'last':(($index+1)==config.nineBlockData.length)}">
                    <div ng-if="!cell.fun_name">
                        <div ng-if="setlie($index,config.nineBlockData)">
                            <span class="icon ion-plus" style="color: #dee4e8;"></span>
                            <!--<img src="images/weixin/wfl_addhandler_adduser.png"/>-->
                        </div>
                    </div>
                    <div class="hec-9grid-cell" ng-click="goState(cell.fun_url);">
                        <div class="hec-icon-wrapper">

                            <div class="hec-count-tip"
                                 ng-class="{'count-tip-bg':(cell.hasGotCount),'count-waiting-tip-bg':(!cell.hasGotCount)}"
                                 ng-if="cell.needGotCount"
                                 style="background-color: #e22e26;border: 2px solid white;height: 1.75em;width: 1.75em;">
                                <ion-spinner class="yd-home-count-tip" icon="ios-small"
                                             ng-if="!cell.hasGotCount"></ion-spinner>
								<span ng-if="cell.hasGotCount" style="color: white;position:relative;top:-2px;">
                                    {{cell.count_number}}
                                </span>
                            </div>

                            <img src="{{cell.fun_icon}}" style="width: 3em;" ng-if="cell.fun_icon != undefined"/>
                        </div>
                        <div class="hec-fun-name">
                            <span>{{cell.fun_name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>