body {
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体',
		\5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;
	font-size: 11px;
	color: #333;
	background-color: #fcfcfc;
}

ul {
	padding: 0;
	margin: 0;
}

.height10 {
	height: 20px;
}

.height50 {
	height: 50px;
}

.height100 {
	height: 100px;
}

.height150 {
	height: 150px;
}

.height175 {
	height: 175px;
}

.height200 {
	height: 200px;
}

.height210 {
	height: 210px;
}

.height215 {
	height: 215px;
}

.height225 {
	height: 225px;
}

.height250 {
	height: 250px;
}

.height275 {
	height: 275px;
}

.height300 {
	height: 300px;
}

.height325 {
	height: 325px;
}

.height350 {
	height: 350px;
}

.height400 {
	height: 400px;
}

.height450 {
	height: 450px;
}

.height500 {
	height: 500px;
}

@media ( max-width : 767px) {
	.height50 {
		min-height: 50px;
	}
	.height100 {
		min-height: 100px;
	}
	.height150 {
		min-height: 150px;
	}
	.height175 {
		min-height: 175px;
	}
	.height200 {
		min-height: 200px;
	}
	.height215 {
		min-height: 215px;
	}
	.height225 {
		min-height: 225px;
	}
	.height250 {
		min-height: 250px;
	}
	.height275 {
		min-height: 275px;
	}
	.height300 {
		min-height: 300px;
	}
	.height325 {
		min-height: 325px;
	}
	.height350 {
		min-height: 350px;
	}
	.height400 {
		min-height: 400px;
	}
	.height450 {
		min-height: 450px;
	}
	.height500 {
		min-height: 500px;
	}
}

.bottom15 {
	position: absolute;
	bottom: 15px;
}

.bgc-fff {
	background-color: #fff;
}

.bgc-fafafa {
	background-color: #fafafa;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-35 {
	margin-top: 35px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-35 {
	margin-bottom: 35px;
}

.showborder {
	border: 1px solid #ccc;
}

.news-list ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.news-container {
	width: 98%;
	height: 15px;
	margin-left: 2%;
	margin-top: 5px;
}

.news-title {
	display: block;
	width: 65%;
	height: 15px;
	white-space: nowrap;
	font-size: 11px;
	line-height: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
}

.news-date {
	display: block;
	width: 35%;
	height: 15px;
	white-space: nowrap;
	font-size: 11px;
	line-height: 15px;
	text-align: right;
	float: right;
}

.news-more {
	margin-left: 2%;
	height: 15px;
	line-height: 15px;
}

@media ( min-width : 768px) {
	.news-title {
		display: block;
		width: 70%;
		height: 15px;
		white-space: nowrap;
		font-size: 11px;
		line-height: 15px;
		text-overflow: ellipsis;
		overflow: hidden;
		float: left;
	}
	.news-date {
		display: block;
		width: 30%;
		height: 15px;
		white-space: nowrap;
		font-size: 11px;
		line-height: 15px;
		text-align: right;
		float: right;
	}
}

.shortcut-container {
	text-align: center;
	display: block;
	float: left;
	width: 140px;
	height: 80px;
}

.shortcut-icon {
	margin: auto;
	width: 40px;
	height: 40px;
	float: none;
}

.shortcut-title {
	margin: auto;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	float: left;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.link-list {
	
}

.link-list ul {
	list-style: none;
}

.link-list li {
	display: inline-block;
	width: 120px;
	height: 25px;
	margin-left: 5%;
	line-height: 25px;
	float: left;
}

.link-list li>a {
	display: inline-block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.link-list li:after {
	clear: both;
}

.todo-list>tbody>tr>th {
	vertical-align: middle;
	text-align: left;
	padding: 2px;
}

.todo-list>tbody>tr>td {
	vertical-align: middle;
	padding: 2px;
}

.todo-list div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.todo-list>tr>td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.todo-list>tr>td>a{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.todo-list-doc-num {
	width: 100px;
}

.todo-list-doc-node {
	width: 100px;
	text-align: left;
}

.todo-list-submit-date {
	width: 80px;
	text-align: left;
}

.todo-list-employee {
	width: 80px;
	text-align: left;
}

.todo-list-doc-category {
	width: 90px;
	text-align: left;
}

.todo-list-doc-type {
	width: 100px;
	text-align: left;
}

.todo-list-doc-amount {
	width: 90px;
	text-align: left;
}

.todo-list-confirm {
	width: 90px;
	text-align: left;
}

.todo-list-confirm>button {
	padding-bottom: 1px;
	padding-top: 1px;
}

.notify-list>tbody>tr>th {
	vertical-align: middle;
	text-align: left;
	padding: 2px;
}

.notify-list>tbody>tr>td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
	padding: 2px;
}

.notify-list div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.notify-list-doc-num {
	width: 120px;
}

.notify-list-notified-by {
	width: 80px;
	text-align: left;
}

.notify-list-notify-message {
	width: 180px;
}

.table .news-more-list {
	width: 100%;
}

.table .news-more-list table {
	width: 100%;
}

.table .news-more-list tr {
	width: 100%;
}

.table .news-more-list th {
	text-align: center;
	font-weight: bold;
}

.table .news-more-list td {
	
}

.table .news-more-list-important-level {
	width: 10%;
	text-align: center;
}

.table .news-more-list-title {	
	width: 60%;
	text-align: left;
}

.table .news-more-list-author {
	width: 15%;
	text-align: center;
}

.table .news-more-list-date {
	width: 15%;
	text-align: center;
}

.big-rolling {
	width: 940px;
	height: 400px;
	margin-bottom: 20px;
}

.footer {
	margin-top: 10px;
	border-top: 1px solid #ccc;
}

.footer-content {
	text-align: center;
	line-height: 35px;
}

.header {
	width: auto;
	min-height: 80px;
	background-color: #d9edf7;
	background-image: url(../../../images/ptl/header_bg.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}

.header-img-left {
	display: inline-block;
	width: 95px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -470px;
	background-image: url(../../../images/ptl/header_left.gif);
	z-index: 10;
}

.header-img-right {
	display: inline-block;
	/*width: 1000px;*/
	height: 80px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -80px;
	background-image: url(../../../images/ptl/header_right.gif);
	z-index: 10;
}

.header-inner {
	width: 940px;
	min-height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	display: block;
	float: left;
	width: 940px;
	height: 50px;
}

.logo:after {
	clear: both;
}

.logo-img {
	margin: auto;
}

.logo-text {
	padding: 10px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #fff;
}

.user-info-area {
	display: block;
	width: 400px;
	height: 20px;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: 60px;
	color: #337ab7;
	padding: 5px;
	z-index: 20;
}

.login-button-area {
	display: block;
	width: 70px;
	height: 20px;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: 390px;
	color: #337ab7;
	padding: 5px;
	z-index: 20;
}

.info-text {
	display: inline-block;;
	width: 120px;
	text-align: center;
}

.user-btn {
	display: inline-block;;
	width: 70px;
	text-align: center;
}

.navbar-system001 {
	width: auto;
	height: 30px;
	margin-bottom: 10px;
	background-color: #d9edf7;
}

.navbar-system001 a {
	color: #337ab7;
	font-weight: bold;
}

.navbar-system001 a:hover {
	text-decoration: none;
}

.navbar-inner-system001 {
	width: 940px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

.navbar-inner-system001 li {
	display: block;
	float: left;
}

.navbar-inner-system001 li>a {
	display: block;
	min-width: 50px;
	padding: 5px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.navbar-inner-system001 li:after {
	clear: both;
}

.navbar-inner-system001 li:hover {
	background-color: #337ab7;
}

.navbar-inner-system001 li:hover>a {
	color: #fff;
}

.nav-system001 {
	display: block;
}

.active-system001 {
	background-color: #337ab7;
}

.active-system001>a {
	color: #fff;
}

#gotoHead {
	display: block;
	width: 48px;
	height: 41px;
	position: fixed;
	bottom: 150px;
	right: 10px;
	background-image: url(../../../images/ptl/gotoTop.png);
}

#gotoFoot {
	display: block;
	width: 48px;
	height: 41px;
	position: fixed;
	bottom: 50px;
	right: 10px;
	background-image: url(../../../images/ptl/gotoBottom.png);
}

.news-info {
	color: #337ab7;
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	margin-top: 5px;
}

.news-info-path {
	margin-left: 5px;
}

.news-info-author {
	margin-left: 5px;
}

.news-info-read-count {
	margin-left: 5px;
}

.news-info-operation {
	margin-top: 5px;
	height: 28px;
	font-weight: bold;
}

.news-info-operation>span {
	float: right;
	margin-right: 10px;
}

.news-info-operation>span:after {
	clear: both;
}

.news-info-title {
	margin-top: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
}

.news-info-subtitle {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
}

.more-info-content {
	width: 905px;
	height: 400px;
}

.person-content {
	text-align: center;
	float: left;
}

.person-content:after {
	clear: both;
}

.person-image {
	margin-left: auto;
	margin-right: auto;
}

.person-label {
	text-align: center;
	line-height: 14px;
}

.panel-heading {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}

.panel-heading-title {
	display: inline-block;
	width: 50%;
}

.panel-heading-more {
	display: inline-block;
	text-align: right;
	width: 50%;
}

.panel-primary .panel-heading-more a {
	color: #fff;
}

.panel-success .panel-heading-more a {
	color: #3c763d;
}

.panel-info .panel-heading-more a {
	color: #31708f;
}

.panel {
	margin-bottom: 13px;
}

.panel-warning .panel-heading-more a {
	color: #8a6d3b;
}

.panel-danger .panel-heading-more a {
	color: #a94442;
}

.weather-calander {
	display: none;
}

@media ( min-width : 1210px) {
	.weather-calander {
		display: inline-block;
		width: 130px;
		height: 80px;
		position: absolute;
		bottom: 0px;
		right: 0px;
		border: none;
		overflow: hidden;
		right: 0px;
		margin-left: 0px;
		top: 0px;
		z-index: 1000;
	}
}

.news-attachment-panel {
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding: 10px;
}

.news-attachment {
	display: inline-block;
	border: 1px solid #d9edf7;
	padding: 2px;
}

.news-attachment:hover {
	background-color: #d9edf7;
	text-decoration: none;
}

.news-attachment:visited {
	text-decoration: none;
}

.news-attachment:active {
	text-decoration: none;
}

.news-attachment:link {
	text-decoration: none;
}

.news-attachment span {
	padding-left: 5px;
	padding-right: 5px;
}

.rolling-news-list-image {
	display: inline-block;
	width: 300px;
	height: 200px;
	float: left;
	border: 1px solid #d9edf7;
	margin-top: 25px;
}

.rolling-news-list-newslist {
	display: inline-block;
	height: 225px;
	margin-left: 10px;
	float: left;
	list-style: none;
	margin-top: 25px;
}

.rolling-news-list-newslist:after {
	clear: both;
}

.image-link {
	width: 100%;
	margin-bottom: 10px;
}

.image-link-a {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.image-link-image {
	
}

.image-link-title {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
}

.user-define-content {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.menu-hide {
	display: none;
}

.menu-show {
	display: block;
}

.menu-level1 {
	position: fixed;
	top: 140px;
	left: -140px;
	width: 150px;
	background-color: #2d89ef;
	color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.menu-level1:hover {
	left: 0px;
}

.menu-level1>.menu-item:hover {
	background-color: #f8f8f8;
	color: #2d89ef;
}

.menu-level2 {
	position: absolute;
	left: -9999px;
	display: block;
	width: 150px;
	margin-top: -30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	background-color: #2d89ef;
	color: #fff;
}

.menu-level1>.menu-item>.menu-level2>.menu-item:hover {
	background-color: #f8f8f8;
	color: #2d89ef;
}

.menu-level3 {
	position: absolute;
	left: -9999px;
	display: block;
	width: 150px;
	margin-top: -30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	background-color: #2d89ef;
	color: #fff;
}

.menu-level1>.menu-item>.menu-level2>.menu-item>.menu-level3>.menu-item:hover
	{
	background-color: #f8f8f8;
	color: #2d89ef;
}

.menu-item:hover {
	
}

.menu-level1>.menu-item:hover>.menu-level2 {
	left: 150px;
}

.menu-level1>.menu-item>.menu-level2>.menu-item:hover>.menu-level3 {
	left: 150px;
}

.menu-item {
	float: left;
}

.menu-text {
	display: inline-block;
	width: 146px;
	height: 26px;
	font-size: 11px;
	line-height: 26px;
	padding: 2px;
	text-align: center;
	font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica,
		sans-serif;
}

.accordion-buttom {
	margin-bottom: 5px;
	text-align: center;
	display: block;
	float: left;
	width: 50%;
}

.accordion-inner-padding {
	padding: 0px;
}

.accordion-toggle-bg {
	background-color: #C4E1E1;
}

.accordion-heading-h {
	height: 30px;
}

.gradient {
	background: -moz-radial-gradient(top, #000000 0%, #ffffff 50%, #000000 100%);
	background: -webkit-gradient(radial, left top, left bottom, color-stop(0%, #000000),
		color-stop(50%, #ffffff), color-stop(100%, #000000) );
	background: -webkit-radial-gradient(top, #000000 0%, #ffffff 50%, #000000 100%);
	background: -o-radial-gradient(top, #000000 0%, #ffffff 50%, #000000 100%);
	background: -ms-radial-gradient(top, #000000 0%, #ffffff 50%, #000000 100%);
	background: radial-gradient(to bottom, #000000 0%, #ffffff 50%, #000000 100%);
}

.portal-read-count {
	color: rgb(51, 122, 183);
	cursor: auto;
	display: block;
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, 宋体, 宋体,
		Tahoma, Arial, Helvetica, STHeiti;
	font-size: 12px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	list-style-type: disc;
	min-width: 50px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
}

.panel-heading-count {
	display: inline-block;
	text-align: left;
	width: 50%;
}

.panel-heading-count-red {
	display: inline-block;
	text-align: left;
	color: red;
	width: 50%;
}

.pagination {
	height: 15px;
	margin-top: 0px;
	margin-bottom: 2px;
}

.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 2px 5px;
}

.login-button-area-wfl {
	height:25px;
	width:30%;
	border: 1px solid #ccc;
	display: block;
	background-color: #fff;
	border-radius: 5px 5px 5px 5px;
	color: #337ab7;
	padding: 5px;
	z-index: 9999;
	margin-top:100px;
}

.user-btn-wfl {
	width:100%;
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	display: inline-block;
	text-align: center;
}

.link-container {
	display: inline-block;
	width: 120px;
	height: 16px;
	margin-left: 5%;
	line-height: 10px;
	margin-top: 2px;
}

.link-icon {
	margin: auto;
	width: 15px;
	height: 15px;
	float: left;
}

.link-title {
	height: 15px;
	line-height: 15px;
	width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	text-align:left;
	margin-left: 5px;
	margin-top: 2px;
}