<?xml version="1.0" encoding="UTF-8"?>
<s:access-check-rule-config xmlns:s="aurora.security">
	<access-check-rules>
		<s:access-check-rule name="wflInstanceCheck" checkBM="security.wfl_instance_permission_check" checkField="@IS_VALID" successValue="Y" />
		<!--<s:access-check-rule name="financeCheck" checkBM="security.finance_permission_check" checkField="@IS_VALID" successValue="Y"/>-->
		<s:access-check-rule name="repCheck" checkBM="security.exp_report_check" checkField="@IS_VALID" successValue="Y" />
		<s:access-check-rule name="reqCheck" checkBM="security.exp_requisition_check" checkField="@IS_VALID" successValue="Y" />
		<s:access-check-rule name="cshCheck" checkBM="security.csh_payment_check" checkField="@IS_VALID" successValue="Y" />
		<s:access-check-rule name="atmDownloadCheck" checkBM="security.fnd_atm_download_permission_check" checkField="@IS_VALID" successValue="Y" />
	</access-check-rules>	
</s:access-check-rule-config>	