<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<display-name>HEC 3.0</display-name>

	<listener>
		<listener-class>aurora.service.http.WebContextInit</listener-class>
	</listener>
	<listener>
		<listener-class>aurora.security.HttpSessionCleaner</listener-class>
	</listener>
	
	 <!--<filter>
		<filter-name>EKPSSOClient</filter-name>
		<filter-class>com.landray.sso.client.EKPSSOClient</filter-class>
		<init-param>
			<description>/WEB-INF/sso-config.properties</description>
			<param-name>filterConfigFile</param-name>
			<param-value>/sso-config.properties</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.landray.ssoclient.EKPSSOClientAuthenticationFilter</filter-class>
	</filter> 
	
	<filter-mapping>
		<filter-name>EKPSSOClient</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>--> 
	
	
	<!-- 集成webservice begin 20170509 add  -->
	<!-- <servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>com.hand.util.DBServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	 </servlet> -->
	
	<listener>
		<listener-class>
			com.hand.util.MasStartListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>
	<servlet>
		<description>JAX-WS endpoint - HandServiceService</description>
		<display-name>HandServiceService</display-name>
		
		<servlet-name>HandServiceService</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandServiceService</servlet-name>
		<url-pattern>/HandWebServicePort</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HandServiceService</servlet-name>
		<url-pattern>/HandServicePort</url-pattern>
	</servlet-mapping>
	<!-- 集成webservice 20170509 end  -->
		
	<!-- DB -->
	<servlet>
		<servlet-name>DBServlet</servlet-name>
		<servlet-class>com.hand.db.DBServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>service</servlet-name>
		<servlet-class>aurora.service.http.FacadeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>autocrud</servlet-name>
		<servlet-class>aurora.service.http.AutoCrudServlet</servlet-class>
	</servlet>

	<!--<servlet>
		<servlet-name>resource</servlet-name>
		<servlet-class>aurora.presentation.ResourceDispatchServlet</servlet-class>
	</servlet>-->
	<servlet>
		<servlet-name>viewlog</servlet-name>
		<servlet-class>aurora.service.http.ViewLogServlet</servlet-class>
	</servlet>
	<!--birt转发配置 -->
	<servlet>
		<servlet-name>birtForward</servlet-name>
		<servlet-class>aurora.application.features.HttpForward</servlet-class>
		<init-param>
			<param-name>address</param-name>
			<!--必须定义到birtviewer的servlet监听地址 -->
			<param-value>http://10.100.17.241:7010/hecreports/preview</param-value>
		</init-param>
		<init-param>
			<param-name>procedure</param-name>
			<param-value>birt.access_check</param-value>
		</init-param>
		<init-param>
			<param-name>output</param-name>
			<param-value>/birt/@return</param-value>
		</init-param>
	</servlet>
	
	<servlet>
        <servlet-name>task_report</servlet-name>
        <servlet-class>aurora.plugin.export.task.TaskReportServlet</servlet-class>
    </servlet>

	<servlet>
		<servlet-name>BarcodeServlet</servlet-name>
		<servlet-class>org.krysalis.barcode4j.servlet.BarcodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>*.screen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>*.svc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>autocrud</servlet-name>
		<url-pattern>/autocrud/*</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>birtForward</servlet-name>
		<url-pattern>/reports</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BarcodeServlet</servlet-name>
		<url-pattern>/genbc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>viewlog</servlet-name>
		<url-pattern>/viewlog</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>task_report</servlet-name>
		<url-pattern>/task_report/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ptl_image</servlet-name>
		<servlet-class>hec.plugin.ptl.PtlImageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ptl_image</servlet-name>
		<url-pattern>/ptl_image</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>ptl_word</servlet-name>
		<servlet-class>hec.plugin.ptl.PtlWordServlet</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>ptl_excel</servlet-name>
		<servlet-class>hec.plugin.ptl.PtlExcelServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ptl_ppt</servlet-name>
		<servlet-class>hec.plugin.ptl.PtlPptServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ptl_pdf</servlet-name>
		<servlet-class>hec.plugin.ptl.PtlPdfServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ptl_word</servlet-name>
		<url-pattern>/ptl_word/*</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>ptl_excel</servlet-name>
		<url-pattern>/ptl_excel/*</url-pattern>
	</servlet-mapping>	
	
	<servlet-mapping>
		<servlet-name>ptl_ppt</servlet-name>
		<url-pattern>/ptl_ppt/*</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>ptl_pdf</servlet-name>
		<url-pattern>/ptl_pdf/*</url-pattern>
	</servlet-mapping>
	<!--微信 -->
	<servlet>
		<servlet-name>weixin</servlet-name>
		<servlet-class>aurora.plugin.weixin.WeixinServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>weixin</servlet-name>
		<url-pattern>/weixin/*</url-pattern>
	</servlet-mapping>
	<!-- 微信 -->
	
	<!-- 图形验证码 -->
		<servlet>
		<servlet-name>imageCode</servlet-name>
		<servlet-class>aurora.service.http.ImageCodeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>imageCode</servlet-name>
		<url-pattern>/imagecode</url-pattern>
	</servlet-mapping>
	<!-- 图形验证码 -->
	<!--
	<filter>
		<filter-name>wordImgFilter</filter-name>  
		<filter-class>hec.plugin.ptl.PtlWordImgFilter</filter-class>  
	</filter>
	
	<filter-mapping>  
		<filter-name>wordImgFilter</filter-name>  
		<url-pattern>*.png</url-pattern>  
	</filter-mapping>
	
	<filter-mapping>  
		<filter-name>wordImgFilter</filter-name>  
		<url-pattern>*.jpg</url-pattern>  
	</filter-mapping>
	
		<filter-mapping>  
		<filter-name>wordImgFilter</filter-name>  
		<url-pattern>*.jpeg</url-pattern>  
	</filter-mapping>
	
	<filter-mapping>  
		<filter-name>wordImgFilter</filter-name>  
		<url-pattern>*.gif</url-pattern>  
	</filter-mapping>
	-->
	
	<servlet>
        <servlet-name>wsdl</servlet-name>
        <servlet-class>aurora.service.http.WSDLServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>wsdl</servlet-name>
		<url-pattern>/wsdl/*</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>aurora.plugin.hec.gzunionpay.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>*.test</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>login.screen</welcome-file>
	</welcome-file-list>

</web-app>
